In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 로그데이터 전처리

# Importing and pandas options

In [ ]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [ ]:
# pd.set_option
pd.set_option('display.max_colwidth', None) # display all columns

# 데이터 분할

# Monthly Log 생성

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# import pandas as pd
# log_data = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/데이터/log_data.csv')

In [ ]:
# log_data['month'] = log_data['date_cd'].apply(lambda x: x.split('-')[1])

# march_log_data = log_data[log_data['month'] == '03'].drop(columns=['month'], axis=1)
# april_log_data = log_data[log_data['month'] == '04'].drop(columns=['month'], axis=1)
# may_log_data = log_data[log_data['month'] == '05'].drop(columns=['month'], axis=1)
# june_log_data = log_data[log_data['month'] == '06'].drop(columns=['month'], axis=1)
# until_may_log_data = log_data[log_data['month'] < '06'].drop(columns=['month'], axis=1)

# march_log_data.to_csv('/content/drive/Shareddrives/빅콘테스트/로그/march_log_data.csv', index=False)
# april_log_data.to_csv('/content/drive/Shareddrives/빅콘테스트/로그/april_log_data.csv', index=False)
# may_log_data.to_csv('/content/drive/Shareddrives/빅콘테스트/로그/may_log_data.csv', index=False)
# june_log_data.to_csv('/content/drive/Shareddrives/빅콘테스트/로그/june_log_data.csv', index=False)
# until_may_log_data.to_csv('/content/drive/Shareddrives/빅콘테스트/로그/until_may_log_data.csv', index=False)

# Input Data Load

In [ ]:
# until_may_log_data = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/until_may_log_data.csv')
origin = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/데이터/log_data.csv')
# march_log_data = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/march_log_data.csv')
# april_log_data = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/april_log_data.csv')
# may_log_data = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/may_log_data.csv')
# june_log_data = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/june_log_data.csv')

In [ ]:
input_data = origin.sort_values('timestamp')

In [ ]:
v = 1
file_version = ["until_may", "until_june", "march", "april", "may", "june"][v]

In [ ]:
display(origin)

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.8.4,2022-03-25
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.6.1,2022-03-25
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.6.1,2022-03-25
...,...,...,...,...,...,...
17843988,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843989,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843990,593062,OpenApp,2022-05-27 16:19:10,Android,3.13.0,2022-05-27
17843991,593062,Login,2022-05-27 16:19:15,Android,3.13.0,2022-05-27
17843992,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13.0,2022-05-27

# ALTER TABLE

## 중복되는 로그 제거 (1차 정규화 과정)

1) Table의 형태가 Relation이어야 함.

  - 중복되는 Observation(log)가 있으면 안됨
  

2) 각 row마다 unique한 primary key가 있어야 함.

### 명시적으로 중복되는 로그 제거

In [ ]:
# drop explicit duplicates
normalized_1d = input_data.drop_duplicates()
normalized_1d

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
475653,125129,UseLoanManage,2022-03-01 00:00:00,Android,3.8.0,2022-03-01
3640942,385811,Login,2022-03-01 00:00:00,Android,3.8.0,2022-03-01
4836383,720911,OpenApp,2022-03-01 00:00:00,iOS,3.6.0,2022-03-01
6354402,706858,UseLoanManage,2022-03-01 00:00:03,Android,3.8.0,2022-03-01
2809,512341,EndLoanApply,2022-03-01 00:00:03,Android,3.8.0,2022-03-01
...,...,...,...,...,...,...
12762243,215821,EndLoanApply,2022-06-30 23:59:53,Android,3.15.1,2022-06-30
11511066,392718,GetCreditInfo,2022-06-30 23:59:56,android,461,2022-06-30
6011502,668486,EndLoanApply,2022-06-30 23:59:57,Android,3.15.1,2022-06-30
11511067,746631,GetCreditInfo,2022-06-30 23:59:57,android,470,2022-06-30
6011503,668486,EndLoanApply,2022-06-30 23:59:58,Android,3.15.1,2022-06-30

단순 중복 기록된 로그 개수

In [ ]:
len(input_data) - len(normalized_1d)

484143

### 추가로 중복의 의미를 갖는 로그를 제거

- 1초 간격으로 연속으로 기록된 로그 제거
- 각 Event를 실행한 횟수(연속성을 배제)에 대한 정보를 얻기 위해
- 동일한 이벤트 로그가 연속으로 기록되었다는 것은 하나의 동작이 연속적으로 기록된 형태일 수 있음.

In [ ]:
events = normalized_1d.event.unique().tolist()
events

['UseLoanManage',
 'Login',
 'OpenApp',
 'EndLoanApply',
 'GetCreditInfo',
 'ViewLoanApplyIntro',
 'StartLoanApply',
 'UseDSRCalc',
 'CompleteIDCertification',
 'SignUp',
 'UsePrepayCalc']

In [ ]:
normalized_1d = normalized_1d.reset_index()
normalized_1d.columns = ['org_index', 'user_id', 'event', 'timestamp', 'mp_os', 'mp_app_version', 'date_cd']
normalized_1d.tail()

,org_index,user_id,event,timestamp,mp_os,mp_app_version,date_cd
17359845,12762243,215821,EndLoanApply,2022-06-30 23:59:53,Android,3.15.1,2022-06-30
17359846,11511066,392718,GetCreditInfo,2022-06-30 23:59:56,android,461,2022-06-30
17359847,6011502,668486,EndLoanApply,2022-06-30 23:59:57,Android,3.15.1,2022-06-30
17359848,11511067,746631,GetCreditInfo,2022-06-30 23:59:57,android,470,2022-06-30
17359849,6011503,668486,EndLoanApply,2022-06-30 23:59:58,Android,3.15.1,2022-06-30

In [ ]:
for i in tqdm(range(len(events))):

    # 로그에서 이벤트가 신청완료인 로그만 추출
    normalized_1d_part_i = normalized_1d[normalized_1d['event']==events[i]]

    a = len(normalized_1d)

    # 시간 순에 따라 정렬
    normalized_1d_part_i = normalized_1d_part_i.sort_values('timestamp')
    # 기종의 경우 현재 관심사가 아니므로 잠시 배제
    normalized_1d_part_i.drop(normalized_1d_part_i.columns[[4,5]], axis=1, inplace=True)
    # 오리지널 인덱스(기록된 로그상의 인덱스), 유저번호(고유), timestamp에 대해 이벤트(event)와 생성된날짜(date_cd)의 개수를 파악해본다.
    normalized_1d_part_i_grouped = normalized_1d_part_i.groupby(['org_index', 'user_id', 'timestamp']).count().reset_index()


    # 그룹화한 테이블에서 timestamp 행만 추출하여 임시로 pandas.DataFrame()형태로 저장
    timestamp_for_concat = pd.DataFrame(normalized_1d_part_i_grouped['timestamp'])
    # shift(1)로 데이터를 한 칸 아래로 이동시킴
    timestamp_for_concat = timestamp_for_concat.shift(1)
    # DataFrame에서 shift(1)을 진행할 경우 가장 첫 번째 관측치(로그)에서 NaN값이 발생하므로 이를 기존 값으로 채운다.
    timestamp_for_concat['timestamp'][0] = timestamp_for_concat['timestamp'][1]
    # timestamp_for_concat의 컬럼명을 정의해준다.
    timestamp_for_concat.columns = ['timestamp1']


    # 앞서 계산을 위해 생성해주었던 timestamp_for_concat를 기존 테이블에 가로로 합쳐준다.
    test_ith_event = pd.concat([normalized_1d_part_i_grouped, timestamp_for_concat], axis=1)
    # 이후에 event와 date_cd의 경우 의미있는 컬럼은 아니므로 우선 timestamp 계산을 위해 drop해준다.
    test_ith_event.drop(test_ith_event.columns[[3,4]], axis=1, inplace=True)


    # 두 컬럼의 차이를 비교하기 이전에 각 컬럼의 값들이 문자열 형태이므로 pandas의 datetime 형식으로 변경해준다.
    test_ith_event['timestamp']=pd.to_datetime(test_ith_event['timestamp'])
    test_ith_event['timestamp1']=pd.to_datetime(test_ith_event['timestamp1'])


    test_ith_event['diff']=test_ith_event['timestamp']-test_ith_event['timestamp1']
    test_ith_event['diff_sec'] = test_ith_event['diff'].apply(lambda x: x.total_seconds())


    test_ith_event['diff_sec'].iloc[0] = 3


    # 'res_diff'라는 새로운 컬럼에 앞 관측치(직전의 로그)와의 시간 차가 2초 미만인 경우에 True를 저장한다.(나머지는 False 저장)
    test_ith_event['res_diff'] = test_ith_event['diff_sec'].apply(lambda x: 0 <= x < 2)


    # temp 테이블에서 user_id 행만 추출하여 임시로 pandas.DataFrame()형태로 저장
    user_id_for_concat = pd.DataFrame(test_ith_event['user_id'])
    # shift(1)로 데이터를 한 칸 아래로 이동시킴
    user_id_for_concat = user_id_for_concat.shift(1)
    # DataFrame에서 shift(1)을 진행할 경우 가장 첫 번째 관측치(로그)에서 NaN값이 발생하므로 이를 -1로 대체하면 이후 0이상의 값을 갖는 어떤 user_id에서 빼더라도 항상 양수값을 갖는다.(이후에 0인 경우 연속하는 로그의 유저 변화 여부를 확인하기 위해 사용 예정)
    user_id_for_concat['user_id'].iloc[0] = -1
    # user_id_for_concat 컬럼명을 정의해준다. user_id1
    user_id_for_concat.columns = ['user_id1']

    # 앞서 계산을 위해 생성해주었던 user_id_for_concat 기존 테이블에 가로로 합쳐준다.
    calc_table = pd.concat([test_ith_event, user_id_for_concat], axis=1)

    # 해당 이벤트 로그에서 전 이벤트 로그의 user_id값의 차를 기록하는 컬럼을 'is_continuous_user'라고 정의하자.
    # 만약 이 컬럼의 값이 0인 경우 해당 로그는 이전 로그와 같은 사용자가 기록한 로그라는 의미를 갖는다.
    calc_table['is_continuous_user']=calc_table['user_id']-calc_table['user_id1']


    # 이제 계산에 활용한 컬럼들을 모두 drop해주려 한다.
    # timestamp1, diff, diff_sec, user_id1이 제거된다.
    calc_table.drop(calc_table.columns[[3,4,5,7]], axis=1, inplace=True)


    # is_continuous_user 부분을 Boolean 형태로 변경해주자.
    calc_table['is_continuous_user'] = calc_table['is_continuous_user'].apply(lambda x : True if x == 0 else False)

    # 제거할 인덱스 찾아내기 (set 형태 멤버연산자 사용)
    tmp = calc_table[calc_table['res_diff'] == True]
    tmp = tmp[tmp['is_continuous_user'] == True]
    index_to_eliminate = set(tmp['org_index'])

    # for check
    b = len(index_to_eliminate)
    # if b != 0:
    # EndLoanApply 이벤트에서 연속으로 같은 유저에게 기록된 로그 삭제하기
    normalized_1d['to_eliminate'] = normalized_1d['org_index'].apply(lambda x: x in index_to_eliminate)
    normalized_1d = normalized_1d[normalized_1d['to_eliminate']==False]
    normalized_1d = normalized_1d.drop(columns=['to_eliminate'], axis=1)

    # for check
    c = len(normalized_1d)
    
    # 예외처리
    if c != a - b:
      print(f"{i}번째 중복제거 중 문제 발생!")

    print()
    print(f'이벤트 {events[i]}의 중복 제거 전 log_data의 총 로그 개수 : {a}')
    print(f'중복이 의심되는 이벤트 {events[i]}의 로그 개수 : {b}')
    print(f'이벤트 {events[i]}의 중복 제거 후 log_data의 총 로그 개수 : {c}')

normalized_1d.to_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/1D_normalized_log_data({file_version}).csv', index=False)

  0%|          | 0/11 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
  9%|▉         | 1/11 [00:36<06:02, 36.22s/it]

이벤트 UseLoanManage의 중복 제거 전 log_data의 총 로그 개수 : 17359850
중복이 의심되는 이벤트 UseLoanManage의 로그 개수 : 12716
이벤트 UseLoanManage의 중복 제거 후 log_data의 총 로그 개수 : 17347134

 18%|█▊        | 2/11 [01:30<07:01, 46.79s/it]

이벤트 Login의 중복 제거 전 log_data의 총 로그 개수 : 17347134
중복이 의심되는 이벤트 Login의 로그 개수 : 27
이벤트 Login의 중복 제거 후 log_data의 총 로그 개수 : 17347107

 27%|██▋       | 3/11 [02:41<07:44, 58.05s/it]

이벤트 OpenApp의 중복 제거 전 log_data의 총 로그 개수 : 17347107
중복이 의심되는 이벤트 OpenApp의 로그 개수 : 3502
이벤트 OpenApp의 중복 제거 후 log_data의 총 로그 개수 : 17343605

 36%|███▋      | 4/11 [03:33<06:28, 55.45s/it]

이벤트 EndLoanApply의 중복 제거 전 log_data의 총 로그 개수 : 17343605
중복이 의심되는 이벤트 EndLoanApply의 로그 개수 : 146166
이벤트 EndLoanApply의 중복 제거 후 log_data의 총 로그 개수 : 17197439

이벤트 GetCreditInfo의 중복 제거 전 log_data의 총 로그 개수 : 17197439

 45%|████▌     | 5/11 [04:16<05:06, 51.15s/it]

중복이 의심되는 이벤트 GetCreditInfo의 로그 개수 : 24891
이벤트 GetCreditInfo의 중복 제거 후 log_data의 총 로그 개수 : 17172548

 55%|█████▍    | 6/11 [05:00<04:02, 48.48s/it]

이벤트 ViewLoanApplyIntro의 중복 제거 전 log_data의 총 로그 개수 : 17172548
중복이 의심되는 이벤트 ViewLoanApplyIntro의 로그 개수 : 2028
이벤트 ViewLoanApplyIntro의 중복 제거 후 log_data의 총 로그 개수 : 17170520

 64%|██████▎   | 7/11 [05:44<03:08, 47.03s/it]

이벤트 StartLoanApply의 중복 제거 전 log_data의 총 로그 개수 : 17170520
중복이 의심되는 이벤트 StartLoanApply의 로그 개수 : 378
이벤트 StartLoanApply의 중복 제거 후 log_data의 총 로그 개수 : 17170142

 73%|███████▎  | 8/11 [05:54<01:45, 35.29s/it]

이벤트 UseDSRCalc의 중복 제거 전 log_data의 총 로그 개수 : 17170142
중복이 의심되는 이벤트 UseDSRCalc의 로그 개수 : 1
이벤트 UseDSRCalc의 중복 제거 후 log_data의 총 로그 개수 : 17170141

 82%|████████▏ | 9/11 [06:24<01:07, 33.72s/it]

이벤트 CompleteIDCertification의 중복 제거 전 log_data의 총 로그 개수 : 17170141
중복이 의심되는 이벤트 CompleteIDCertification의 로그 개수 : 6
이벤트 CompleteIDCertification의 중복 제거 후 log_data의 총 로그 개수 : 17170135

 91%|█████████ | 10/11 [06:35<00:26, 26.71s/it]

이벤트 SignUp의 중복 제거 전 log_data의 총 로그 개수 : 17170135
중복이 의심되는 이벤트 SignUp의 로그 개수 : 0
이벤트 SignUp의 중복 제거 후 log_data의 총 로그 개수 : 17170135

100%|██████████| 11/11 [06:45<00:00, 36.86s/it]

이벤트 UsePrepayCalc의 중복 제거 전 log_data의 총 로그 개수 : 17170135
중복이 의심되는 이벤트 UsePrepayCalc의 로그 개수 : 459
이벤트 UsePrepayCalc의 중복 제거 후 log_data의 총 로그 개수 : 17169676

## mp_app_version size 0.00 형태로 정규화

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
v = 1
file_version = ["until_may", "until_june", "march", "april", "may", "june"][v]

In [ ]:
import pandas as pd
import numpy as np
log_data = pd.read_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/1D_normalized_log_data({file_version}).csv')

### mp_app_version을 string 형태로 바꾸기

In [ ]:
# string으로 바꾸는 이유는 결측치를 놓치지 않기 위해서
log_data['mp_app_version']=log_data['mp_app_version'].apply(lambda x:str(x))

In [ ]:
log_data[log_data['mp_app_version']=="nan"]

,org_index,user_id,event,timestamp,mp_os,mp_app_version,date_cd
8959,12155972,725353,GetCreditInfo,2022-03-01 04:17:57,NaN,nan,2022-03-01
56430,10686237,390035,GetCreditInfo,2022-03-01 13:16:16,NaN,nan,2022-03-01
78293,8011292,197415,GetCreditInfo,2022-03-01 15:33:29,NaN,nan,2022-03-01
81092,11915305,725353,GetCreditInfo,2022-03-01 15:51:22,NaN,nan,2022-03-01
96949,10712718,390035,GetCreditInfo,2022-03-01 17:20:02,NaN,nan,2022-03-01
...,...,...,...,...,...,...,...
17021354,11443776,406413,GetCreditInfo,2022-06-30 09:32:53,NaN,nan,2022-06-30
17060029,11482730,2231,GetCreditInfo,2022-06-30 12:40:28,NaN,nan,2022-06-30
17114704,11496985,212026,GetCreditInfo,2022-06-30 17:00:50,NaN,nan,2022-06-30
17114796,11496414,212026,GetCreditInfo,2022-06-30 17:01:21,NaN,nan,2022-06-30
17128391,11499640,494336,GetCreditInfo,2022-06-30 18:16:51,NaN,nan,2022-06-30

insight: 초기 데이터 형태는 다음과 같다.



*   정상적 데이터 (ex: 3.8.2, 3.13.0)
*   nan
*   세자리 수 데이터 (ex: 435)
*   10000
*   버전 뒤 문자열 데이터 (ex: 3.15.0.0-library-update)

In [ ]:
log_data['mp_app_version'].unique()

array(['3.8.0', '3.6.0', '417', '3.7.0', '422', '447', '413', '3.5.3',
       '435', '360', '440', '426', '3.3.2', '382', '433', '379', '401',
       '390', '2.24.4', '354', '3.5.2', '373', '416', '3.5.0', '424',
       '404', '385', '407', '396', '3.3.0', '408', '362', '3.4.1', '357',
       '3.1.1', '375', '3.2.2', '380', '409', '383', '432', '397', '421',
       '356', '394', '3.3.1', '3.2.0', '400', '399', '381', '387',
       '2.0.3', '3.2.1', '367', '2.1.8', '365', '2.31.2', '359', '3.4.0',
       '395', '368', '389', '363', '361', '369', '406', '1.0.1', 'nan',
       '403', '353', '3.2.4', '372', '376', '3.1.0', '3.8.0.6.mydata',
       '405', '2.22.7', '370', '371', '2.25.0', '1.6.5', '398', '386',
       '10000', '3.0.1', '3.0.2', '2.31.1', '366', '384', '3.5.1', '402',
       '377', '3.0.0', '2.28.2', '374', '3.2.3', '2.30.4', '282',
       '2.27.0', '1.8.4', '393', '364', '2.0.7', '2.22.2', '2.28.6',
       '1.9.1', '2.30.0', '2.28.5', '2.23.4', '3.8.1', '2.28.4', '1.9.9',
       '2.30.6', '1.7.6', '448', '2.28.1', '2.25.3', '1.9.8', '331',
       '2.1.7', '2.1.4', '2.28.3', '378', '2.22.6', '294', '2.25.1',
       '1.2.4', '2.2.3', '2.29.0', '1.3.6', '1.6.4', '2.2.9', '3.6.1',
       '2.19.0', '1.5.5', '429', '304', '2.24.2', '1.1.7', '2.2.7',
       '1.0.3', '2.30.2', '339', '2.22.4', '388', '2.23.0', '2.24.3',
       '349', '431', '2.2.8', '2.24.5', '2.23.3', '2.18.5', '449', '326',
       '3.8.2', '1.1.6', '1.2.1', '2.27.4', '1.5.2', '2.26.1', '323',
       '1.6.1', '3.8.3', '3.8.4', '451', '278', '284', '3.8.0.1.mydata',
       '3.6.0.1', '2.20.1', '1.1.5', '1.0.5', '300', '2.20.0', '2.18.4',
       '3.6.2', '348', '2.1.5', '2.21.2', '321', '3.10.0', '452',
       '2.22.0', '3.10.0.1', '3.9.0', '2.23.2', '2.23.1', '3.10.0.2',
       '3.10.0.3', '3.10.0.4', '3.10.0.5', '454', '3.9.1', '3.10.0.6',
       '3.10.0.7', '458', '459', '254', '330', '453', '456',
       '3.10.1.0-dsr', '460', '1.4.1', '2.19.1', '2.27.2', '3.10.1.0',
       '455', '3.10.1.0-certificate', '461', '3.10.1.1', '3.10.1.2',
       '3.10.1', '3.10.2.0', '3.10.2.1', '3.10.2.2', '1.1.9', '3.11.0',
       '430', '3.12.0.0', '306', '293', '462', '3.11.1', '427', '1.0.0',
       '351', '3.12.0', '463', '3.12.1', '2.21.0', '464', '3.12.0.1',
       '320', '3.10.2', '465', '3.14.0', '3.13.0', '2.30.3', '2.17.1',
       '466', '3.15.0.0', '3.15.0.3', '467', '3.15.0.4', '3.15.0.5',
       '3.15.0.6', '3.15.0.0-library-update', '270',
       '3.15.0.3-library-update', '468', '3.15.0', '469', '3.13.2',
       '3.15.1', '470', '3.13.1', '2.30.1', '3.13.3'], dtype=object)

### 버전 변환 함수 정의

3.1.1인 경우 3.01 이런식으로 1) 자릿수 맞추기 (소수점 아래 숫자 두 자리로) 2) . 하나만 포함하도록 너무 minor한 업데이트 삭제

* 앱 버전 + 문자열 이상치도 해결

In [ ]:
def normalize_version(data):
  if data == 'nan':
    return 'null'
    #나중에 465 같은 것 len으로 작업해서 안 헷갈리기 위해 null로 바꿈
  if len(data) == 3 or data == '10000':
    return data
  # 버전 업데이트 넘버가 세자리수가 되는 상황은 배제함
  else:
    a,b=data.split('.')[:2]
    if len(b) == 1:
      return (a+'.0'+b)
    else:
      return ".".join(data.split('.')[:2])

In [ ]:
log_data['mp_app_version']=log_data['mp_app_version'].apply(lambda x:normalize_version(x))

### 세자리 수 및 10000 처리하기

해당 이상치들은 mp_os가 Android가 아닌 android로 나오고 GetCreditInfo의 이벤트를 하는 경우로 판별됨. 다른 이벤트를 동일 날짜에 한 경우가 있을 수 있으니 0으로 처리한 후, 후에 날짜, 유저 별로 버전 max값을 찾아 처리할 예정.

len이라는 컬럼은 소숫점 두자리수로 버전을 정규화한 결과 대부분의 값이 4를 가지므로 10000의 5자리나 세 자리 값을 갖는 버전 정보를 구분해내는 역할을 한다.

In [ ]:
length_added = log_data.copy()
length_added['len'] = length_added['mp_app_version'].apply(lambda x: len(x))
length_added.head()

,org_index,user_id,event,timestamp,mp_os,mp_app_version,date_cd,len
0,475653,125129,UseLoanManage,2022-03-01 00:00:00,Android,3.08,2022-03-01,4
1,3640942,385811,Login,2022-03-01 00:00:00,Android,3.08,2022-03-01,4
2,4836383,720911,OpenApp,2022-03-01 00:00:00,iOS,3.06,2022-03-01,4
3,6354402,706858,UseLoanManage,2022-03-01 00:00:03,Android,3.08,2022-03-01,4
4,2809,512341,EndLoanApply,2022-03-01 00:00:03,Android,3.08,2022-03-01,4

In [ ]:
temp2 = log_data[log_data['mp_app_version']=='10000']
print(temp2['mp_os'].unique())
print(temp2['event'].unique())

['android']
['GetCreditInfo']

In [ ]:
temp1 = length_added[length_added['len']==3]
print(temp1['mp_os'].unique())
print(temp1['event'].unique())

['android']
['GetCreditInfo']

In [ ]:
length_added.loc[length_added['mp_os']=='android', 'mp_app_version'] = '0.00'

In [ ]:
three_digit_handled = length_added[['user_id', 'event', 'timestamp', 'mp_os', 'mp_app_version', 'date_cd']]
three_digit_handled[three_digit_handled['mp_app_version']=='0.00']

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
5,706858,GetCreditInfo,2022-03-01 00:00:03,android,0.00,2022-03-01
7,559785,GetCreditInfo,2022-03-01 00:00:05,android,0.00,2022-03-01
16,385811,GetCreditInfo,2022-03-01 00:00:15,android,0.00,2022-03-01
21,623737,GetCreditInfo,2022-03-01 00:00:19,android,0.00,2022-03-01
45,688627,GetCreditInfo,2022-03-01 00:00:34,android,0.00,2022-03-01
...,...,...,...,...,...,...
17169654,66149,GetCreditInfo,2022-06-30 23:59:45,android,0.00,2022-06-30
17169663,697676,GetCreditInfo,2022-06-30 23:59:47,android,0.00,2022-06-30
17169665,630682,GetCreditInfo,2022-06-30 23:59:50,android,0.00,2022-06-30
17169673,392718,GetCreditInfo,2022-06-30 23:59:56,android,0.00,2022-06-30
17169675,746631,GetCreditInfo,2022-06-30 23:59:57,android,0.00,2022-06-30

In [ ]:
three_digit_handled['mp_app_version'].unique()

array(['3.08', '3.06', '0.00', '3.07', '3.05', '3.03', '2.24', '3.04',
       '3.01', '3.02', '2.00', '2.01', '2.31', '1.00', 'null', '2.22',
       '2.25', '1.06', '3.00', '2.28', '2.30', '2.27', '1.08', '1.09',
       '2.23', '1.07', '1.02', '2.02', '2.29', '1.03', '2.19', '1.05',
       '1.01', '2.18', '2.26', '2.20', '2.21', '3.10', '3.09', '1.04',
       '3.11', '3.12', '3.14', '3.13', '2.17', '3.15'], dtype=object)

## mp_os에서 android를 Android로 수정한 이유

In [ ]:
import pandas as pd
normalized_1d = pd.read_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/1D_normalized_log_data({file_version}).csv')
tmp = pd.DataFrame(normalized_1d.isnull().value_counts())
tmp

                                                                       0
org_index user_id event timestamp mp_os mp_app_version date_cd
False     False   False False     False False          False    16565206
                                        True           False      603523
                                  True  True           False         947

In [ ]:
normalized_1d[normalized_1d['mp_os']=='android'].event.unique()

array(['GetCreditInfo'], dtype=object)

In [ ]:
normalized_1d[normalized_1d['mp_os']=='Android'].event.unique()

array(['UseLoanManage', 'Login', 'EndLoanApply', 'OpenApp',
       'ViewLoanApplyIntro', 'StartLoanApply', 'CompleteIDCertification',
       'SignUp', 'UseDSRCalc', 'UsePrepayCalc'], dtype=object)

`mp_os`가 결측치인 947개의 로그의 경우는 `mp_app_version` 역시 결측치이다.

`mp_app_version`이 결측치가 아닌데 `mp_os`는 결측치인 경우는 존재하지 않았다.

In [ ]:
# mp_os가 결측치인 테이블 정보
log_data[log_data['mp_os'].isnull() == True]

,org_index,user_id,event,timestamp,mp_os,mp_app_version,date_cd
8959,12155972,725353,GetCreditInfo,2022-03-01 04:17:57,NaN,null,2022-03-01
56430,10686237,390035,GetCreditInfo,2022-03-01 13:16:16,NaN,null,2022-03-01
78293,8011292,197415,GetCreditInfo,2022-03-01 15:33:29,NaN,null,2022-03-01
81092,11915305,725353,GetCreditInfo,2022-03-01 15:51:22,NaN,null,2022-03-01
96949,10712718,390035,GetCreditInfo,2022-03-01 17:20:02,NaN,null,2022-03-01
...,...,...,...,...,...,...,...
17021354,11443776,406413,GetCreditInfo,2022-06-30 09:32:53,NaN,null,2022-06-30
17060029,11482730,2231,GetCreditInfo,2022-06-30 12:40:28,NaN,null,2022-06-30
17114704,11496985,212026,GetCreditInfo,2022-06-30 17:00:50,NaN,null,2022-06-30
17114796,11496414,212026,GetCreditInfo,2022-06-30 17:01:21,NaN,null,2022-06-30
17128391,11499640,494336,GetCreditInfo,2022-06-30 18:16:51,NaN,null,2022-06-30

In [ ]:
# mp_app_version만 결측치인 테이블 정보
app_version_null = normalized_1d[normalized_1d['mp_app_version'].isnull() == True]
app_version_null['mp_os'].value_counts()

iOS        602734
iPadOS        786
Android         3
Name: mp_os, dtype: int64

In [ ]:
# 가장 적은 Android 확인
app_version_null[app_version_null['mp_os'] == 'Android']

,org_index,user_id,event,timestamp,mp_os,mp_app_version,date_cd
1335833,8890623,327701,CompleteIDCertification,2022-03-11 11:29:52,Android,NaN,2022-03-11
8867172,5435959,93866,CompleteIDCertification,2022-05-06 20:39:02,Android,NaN,2022-05-06
9235953,9818516,588692,CompleteIDCertification,2022-05-10 03:07:36,Android,NaN,2022-05-10

In [ ]:
# event가 모두 같다는 공통점이 있어 event정보에 대해서도 확인 : event와의 큰 관련은 없다는 판단
app_version_null['event'].value_counts()

OpenApp                    39994
StartLoanApply             33918
EndLoanApply               33898
ViewLoanApplyIntro         31979
CompleteIDCertification    24057
UseLoanManage              22981
SignUp                      1223
GetCreditInfo                761
UsePrepayCalc                 40
UseDSRCalc                    23
Name: event, dtype: int64

#### iPadOS, iOS 상의 nan issue : 5월24일 ~ 6월19일 공통

In [ ]:
# iPadOS도 확인 : 특정 시기에 iPadOS 서비스 상의 nan issue 확인
iPadOS_null = app_version_null[app_version_null['mp_os'] == 'iPadOS'].sort_values('date_cd')
display(iPadOS_null['date_cd'].value_counts())
display(iPadOS_null['date_cd'].unique())

2022-06-15    71
2022-06-08    66
2022-06-14    65
2022-06-17    54
2022-05-30    52
2022-06-02    40
2022-06-13    39
2022-06-16    38
2022-06-10    38
2022-06-09    37
2022-06-07    33
2022-05-31    31
2022-06-04    31
2022-05-29    27
2022-06-06    23
2022-05-24    20
2022-06-03    20
2022-06-01    17
2022-05-26    17
2022-06-12    16
2022-06-11    14
2022-05-28    13
2022-05-25    10
2022-06-19     7
2022-06-05     3
2022-05-27     2
2022-06-18     2
Name: date_cd, dtype: int64

array(['2022-05-24', '2022-05-25', '2022-05-26', '2022-05-27',
       '2022-05-28', '2022-05-29', '2022-05-30', '2022-05-31',
       '2022-06-01', '2022-06-02', '2022-06-03', '2022-06-04',
       '2022-06-05', '2022-06-06', '2022-06-07', '2022-06-08',
       '2022-06-09', '2022-06-10', '2022-06-11', '2022-06-12',
       '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16',
       '2022-06-17', '2022-06-18', '2022-06-19'], dtype=object)

In [ ]:
# iOS도 확인 : iPadOS와 마찬가지로 [5월24일 ~ 6월19일] 기간에 iOS 서비스 상의 nan issue 확인
iOS_null = app_version_null[app_version_null['mp_os'] == 'iOS'].sort_values('date_cd')
display(iOS_null['date_cd'].value_counts())
display(iOS_null['date_cd'].unique())

2022-06-13    33502
2022-06-07    32916
2022-06-16    32445
2022-05-30    30683
2022-06-08    30592
2022-06-15    30380
2022-05-25    29566
2022-05-24    29314
2022-06-14    29007
2022-06-02    28853
2022-06-09    28274
2022-05-26    26852
2022-05-31    26122
2022-06-03    26104
2022-06-10    25474
2022-05-27    24830
2022-06-17    23518
2022-06-01    15358
2022-06-06    12360
2022-06-12    12351
2022-06-11    11842
2022-06-19    11748
2022-06-18    10933
2022-05-28    10653
2022-06-04    10285
2022-05-29     9919
2022-06-05     8851
2022-04-25        1
2022-04-18        1
Name: date_cd, dtype: int64

array(['2022-04-18', '2022-04-25', '2022-05-24', '2022-05-25',
       '2022-05-26', '2022-05-27', '2022-05-28', '2022-05-29',
       '2022-05-30', '2022-05-31', '2022-06-01', '2022-06-02',
       '2022-06-03', '2022-06-04', '2022-06-05', '2022-06-06',
       '2022-06-07', '2022-06-08', '2022-06-09', '2022-06-10',
       '2022-06-11', '2022-06-12', '2022-06-13', '2022-06-14',
       '2022-06-15', '2022-06-16', '2022-06-17', '2022-06-18',
       '2022-06-19'], dtype=object)

#### Android, android 차이 관찰 (Android로 통일)

In [ ]:
android = normalized_1d[normalized_1d['mp_os'] == 'android'].sort_values('timestamp')
display(android['date_cd'].value_counts())
len(android['date_cd'].unique())

2022-06-27    53996
2022-06-28    45301
2022-06-29    41258
2022-06-30    37803
2022-04-22    37577
              ...
2022-04-09     7108
2022-03-26     7051
2022-05-29     6977
2022-05-22     6891
2022-06-05     6311
Name: date_cd, Length: 122, dtype: int64

122

In [ ]:
Android = normalized_1d[normalized_1d['mp_os'] == 'Android'].sort_values('timestamp')
display(Android['date_cd'].value_counts())
len(Android['date_cd'].unique())

2022-05-16    172047
2022-06-27    167829
2022-06-16    167425
2022-06-20    167085
2022-03-16    151592
               ...
2022-04-17     48921
2022-03-12     48520
2022-03-19     47956
2022-04-30     45871
2022-03-26     45204
Name: date_cd, Length: 122, dtype: int64

122

Android와 android의 경우 실제 3월 ~ 6월의 모든 기간 동안 매일 기록됨.

In [ ]:
print(f"Android 로그를 남긴 경우 : {len(Android)}건")
print(f"android 로그를 남긴 경우 : {len(android)}건")

Android 로그를 남긴 경우 : 12005548건
android 로그를 남긴 경우 : 2113625건

In [ ]:
android['event'].unique()

array(['GetCreditInfo'], dtype=object)

In [ ]:
Android['event'].unique()

array(['UseLoanManage', 'Login', 'EndLoanApply', 'OpenApp',
       'ViewLoanApplyIntro', 'StartLoanApply', 'CompleteIDCertification',
       'SignUp', 'UseDSRCalc', 'UsePrepayCalc'], dtype=object)

android와 Android는 특정 이벤트를 기록하는 과정에서 차이가 발생한 것으로 판단되어 두 `mp_os` 값을 `Android`로 합치기로 결정

### android를 Android로 합치기

In [ ]:
three_digit_handled = three_digit_handled.replace('android', 'Android')
three_digit_handled['mp_os'].value_counts()

Android    14119173
iOS         3046893
iPadOS         2663
Name: mp_os, dtype: int64

In [ ]:
three_digit_handled['mp_app_version'].value_counts()

3.08    3601541
3.14    2275278
0.00    2113625
3.12    1713126
3.10    1633412
3.11    1441672
3.13    1307319
3.06     769697
null     604470
3.15     593185
3.07     512620
3.09     468914
3.05     101378
3.03      11726
3.02       7931
3.04       3533
3.01       2283
3.00       1207
2.28        771
1.09        732
2.30        655
2.00        651
2.31        516
2.02        434
2.25        385
1.06        380
2.27        359
2.22        351
2.24        326
2.23        231
1.07        218
2.01        206
1.02        116
1.08        109
1.05        109
1.01         99
1.00         54
1.03         16
2.29         10
2.19          8
1.04          7
2.20          4
2.17          4
2.21          3
2.26          3
2.18          2
Name: mp_app_version, dtype: int64

In [ ]:
three_digit_handled.to_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/three_digit_handled({file_version}).csv', index=False)

# Analysis & 파생변수 생성

## 사용자의 기기 선호도 테이블 생성(1D_normalized_log_data -> confirmed_users)

"사용자의 아이디"와 "기기운영체제"를 기준으로 각 사용자들의 수는 어떻게 되는 지를 파악해보고자 했다.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
v = 1
file_version = ["until_may", "until_june", "march", "april", "may", "june"][v]

In [ ]:
import pandas as pd
normalized_1d = pd.read_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/three_digit_handled({file_version}).csv')

In [ ]:
users = normalized_1d['user_id'].unique()

In [ ]:
grouped = normalized_1d.groupby(['mp_os', 'user_id']).count().reset_index()
Android = grouped[grouped.mp_os=='Android'].user_id.unique().tolist()
ios = grouped[grouped.mp_os=='iOS'].user_id.unique().tolist()
ipad = grouped[grouped.mp_os=='iPadOS'].user_id.unique().tolist()
total = normalized_1d.user_id.unique().tolist()
#ios = grouped.user_id.unique().tolist()

In [ ]:
grouped.head()

     mp_os  user_id  event  timestamp  mp_app_version  date_cd
0  Android        1      5          5               5        5
1  Android        7      1          1               1        1
2  Android        9      3          3               3        3
3  Android       12    106        106             106      106
4  Android       20     61         61              61       61

In [ ]:
grouped[grouped.mp_os == 'android']

Empty DataFrame
Columns: [mp_os, user_id, event, timestamp, mp_app_version, date_cd]
Index: []

In [ ]:
# 각 사용자를 집합으로 정의
android_set = set(Android)
ios_set = set(ios)
ipad_set = set(ipad)

print('전체: ', len(total))
print('android: ', len(android_set))
print('ios: ', len(ios_set))
print('ipad: ', len(ipad_set))

print('안드 & ios 교집합: ', len(android_set & ios_set))
print('안드 & ipad 교집합: ', len(android_set & ipad_set))
print('ios & ipad 교집합: ', len(ios_set & ipad_set))

print('전체 교집합: ', len(android_set & ios_set & ipad_set))

print('Android only 사용자: ', len((android_set-ios_set)-ipad_set))
print('ipad only 사용자: ', len((ipad_set-ios_set)-android_set))
print('iOS only 사용자: ', len((ios_set-ipad_set)-android_set))


# 499-405-104+80
#한 개만 사용하는 사람은: 전체 - 교집합1 - 교집합2 - 교집합3 + 2*전체교집합
print('1개만 사용: ', 584636-8929-104-405+80*2)

전체:  584636
android:  465694
ios:  127792
ipad:  499
안드 & ios 교집합:  8929
안드 & ipad 교집합:  104
ios & ipad 교집합:  405
전체 교집합:  80
Android only 사용자:  456741
ipad only 사용자:  70
iOS only 사용자:  118538
1개만 사용:  575358

[6월 기준]
소수 첫째자리에서 반올림한 결과는 아래와 같다.

ipad만 사용하는 사람 : 70명 (14%)

ipad + iOS만 사용하는 사람 : 325명 (65%)

ipad + android만 사용하는 사람 : 24명 (5%)

세 종류를 모두 사용하는 사람 : 80명 (16%)

따라서 ipadOS의 경우 단독 사용자보다 세종류를 같이 사용하는 경우가, 또 약 81%가 iPadOS를 iOS와 함께 사용한다.

In [ ]:
# 변수명: android_set, ios_set, ipad_set
# 1개 이상 사용하는 유저 모음
ai = android_set & ios_set #ai: 안드, ios 교집합 | aip: 안드, 아이패드 |ii: ios, 아이패드
aip = android_set & ipad_set
ii = ios_set & ipad_set
aii = ai|aip|ii #aii: 2개 이상 사용하는 유저

#한 기기만을 사용하는 유저
ao = android_set - aii
io = ios_set - aii
ipo = ipad_set - aii

In [ ]:
#안드로이드 = 0, ios = 1, ipad = 2, 1개 이상 = 3
users = pd.DataFrame(users)
users.columns = ['user']

df_ao = pd.DataFrame(ao)
df_ao.columns=['user']
df_ao['android_only'] = 1
df_ao
users = pd.merge(users, df_ao, how='left', on='user')

df_io = pd.DataFrame(io)
df_io.columns=['user']
df_io['ios_only'] = 1
users = pd.merge(users, df_io, how='left', on='user')

df_ipo = pd.DataFrame(ipo)
df_ipo.columns=['user']
df_ipo['ipad_only'] = 1
users = pd.merge(users, df_ipo, how='left', on='user')

df_aii = pd.DataFrame(aii)
df_aii.columns=['user']
df_aii['many'] = 1
users = pd.merge(users, df_aii, how='left', on='user')

# user를 0,1,2,3으로 분류한 테이블
users = users.fillna(0)
users.head(10)

     user  android_only  ios_only  ipad_only  many
0  720911           0.0       1.0        0.0   0.0
1  125129           1.0       0.0        0.0   0.0
2  385811           1.0       0.0        0.0   0.0
3  706858           1.0       0.0        0.0   0.0
4  512341           1.0       0.0        0.0   0.0
5  559785           1.0       0.0        0.0   0.0
6  661370           1.0       0.0        0.0   0.0
7  140973           1.0       0.0        0.0   0.0
8  174412           1.0       0.0        0.0   0.0
9  266020           1.0       0.0        0.0   0.0

In [ ]:
# 기기에 대한 정보가 전혀 없는 유저 파악 : missing의 값이 0인 관측치에 해당하는 유저
users['missing'] = users.android_only + users.ios_only + users.ipad_only + users.many
users.missing.value_counts()

1.0    424325
0.0     55448
Name: missing, dtype: int64

In [ ]:
tmp = pd.DataFrame(users[users.missing == 0.0]['user'])
tmp.columns = ['user_id']
unknown_user = pd.merge(tmp, normalized_1d, how="left", on="user_id")
unknown_user

,user_id,org_index,event,timestamp,mp_os,mp_app_version,date_cd
0,634131,2369644,GetCreditInfo,2022-03-01 00:07:35,android,447,2022-03-01
1,634131,2369816,GetCreditInfo,2022-03-01 00:24:38,android,447,2022-03-01
2,634131,2369819,GetCreditInfo,2022-03-01 00:24:42,android,447,2022-03-01
3,584925,2369646,GetCreditInfo,2022-03-01 00:07:54,android,435,2022-03-01
4,271234,2369650,GetCreditInfo,2022-03-01 00:08:11,android,447,2022-03-01
...,...,...,...,...,...,...,...
86867,542827,8749301,GetCreditInfo,2022-05-31 23:55:47,android,466,2022-05-31
86868,156840,8749302,GetCreditInfo,2022-05-31 23:55:56,android,466,2022-05-31
86869,716970,8749325,GetCreditInfo,2022-05-31 23:57:48,android,466,2022-05-31
86870,650157,8749334,GetCreditInfo,2022-05-31 23:59:02,android,466,2022-05-31
86871,681831,8749341,GetCreditInfo,2022-05-31 23:59:54,android,466,2022-05-31

위에 14개의 로그를 남긴 9명의 사용자의 경우 3월~6월 동안 GetCreditInfo라는 event만을 앱 내에서 수행했다.

### nan 처리하기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
v = 0
file_version = ["until_may", "until_june", "march", "april", "may", "june"][v]

In [ ]:
import pandas as pd
three_digit_handled = pd.read_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/three_digit_handled({file_version}).csv')
null_version = three_digit_handled[three_digit_handled['mp_app_version']==0.00]
display(null_version['mp_os'].unique())

array(['Android'], dtype=object)

#### 1. 앱버전 nan이면서 기기 안드로이드

In [ ]:
display(null_version[null_version['mp_os']=='Android'])

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
5,706858,GetCreditInfo,2022-03-01 00:00:03,Android,0.0,2022-03-01
6,559785,GetCreditInfo,2022-03-01 00:00:05,Android,0.0,2022-03-01
15,385811,GetCreditInfo,2022-03-01 00:00:15,Android,0.0,2022-03-01
21,623737,GetCreditInfo,2022-03-01 00:00:19,Android,0.0,2022-03-01
45,688627,GetCreditInfo,2022-03-01 00:00:34,Android,0.0,2022-03-01
...,...,...,...,...,...,...
12427853,30728,GetCreditInfo,2022-05-31 23:59:08,Android,0.0,2022-05-31
12427861,492109,GetCreditInfo,2022-05-31 23:59:27,Android,0.0,2022-05-31
12427867,845575,GetCreditInfo,2022-05-31 23:59:34,Android,0.0,2022-05-31
12427884,358610,GetCreditInfo,2022-05-31 23:59:49,Android,0.0,2022-05-31
12427887,681831,GetCreditInfo,2022-05-31 23:59:54,Android,0.0,2022-05-31

Android면서 앱 버전 nan인 경우는 CompleteIDCertification 인 경우 3번 이지만 CompleteIDCertification이라고 nan 인건 아님.

In [ ]:
three_digit_handled[three_digit_handled['user_id']==588692].sort_values('timestamp')

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
9131837,588692,GetCreditInfo,2022-05-09 14:35:02,Android,0.00,2022-05-09
9132517,588692,GetCreditInfo,2022-05-09 14:37:25,Android,0.00,2022-05-09
9235688,588692,Login,2022-05-10 02:58:59,Android,3.12,2022-05-10
9235691,588692,UseLoanManage,2022-05-10 02:59:04,Android,3.12,2022-05-10
9235692,588692,GetCreditInfo,2022-05-10 02:59:05,Android,0.00,2022-05-10
9235701,588692,GetCreditInfo,2022-05-10 02:59:16,Android,0.00,2022-05-10
9235796,588692,GetCreditInfo,2022-05-10 03:02:16,Android,0.00,2022-05-10
9235828,588692,ViewLoanApplyIntro,2022-05-10 03:03:11,Android,3.12,2022-05-10
9235842,588692,UseLoanManage,2022-05-10 03:03:44,Android,3.12,2022-05-10
9235872,588692,GetCreditInfo,2022-05-10 03:04:26,Android,0.00,2022-05-10
9235947,588692,CompleteIDCertification,2022-05-10 03:07:36,Android,NaN,2022-05-10
9483122,588692,OpenApp,2022-05-11 12:11:07,Android,3.12,2022-05-11
9483146,588692,Login,2022-05-11 12:11:11,Android,3.12,2022-05-11
9483177,588692,StartLoanApply,2022-05-11 12:11:18,Android,3.12,2022-05-11
9483178,588692,ViewLoanApplyIntro,2022-05-11 12:11:18,Android,3.12,2022-05-11
9483338,588692,CompleteIDCertification,2022-05-11 12:12:03,Android,3.12,2022-05-11
9483653,588692,EndLoanApply,2022-05-11 12:13:43,Android,3.12,2022-05-11
9483666,588692,EndLoanApply,2022-05-11 12:13:49,Android,3.12,2022-05-11
9483686,588692,EndLoanApply,2022-05-11 12:13:55,Android,3.12,2022-05-11
9604944,588692,OpenApp,2022-05-12 06:33:38,Android,3.12,2022-05-12
9604947,588692,Login,2022-05-12 06:33:42,Android,3.12,2022-05-12
9604954,588692,UseLoanManage,2022-05-12 06:33:45,Android,3.12,2022-05-12
9604970,588692,GetCreditInfo,2022-05-12 06:33:55,Android,0.00,2022-05-12
9605000,588692,GetCreditInfo,2022-05-12 06:34:29,Android,0.00,2022-05-12
9605043,588692,ViewLoanApplyIntro,2022-05-12 06:34:58,Android,3.12,2022-05-12
9605072,588692,GetCreditInfo,2022-05-12 06:35:18,Android,0.00,2022-05-12
9706597,588692,OpenApp,2022-05-12 15:57:15,Android,3.12,2022-05-12
9706610,588692,Login,2022-05-12 15:57:21,Android,3.12,2022-05-12
9706633,588692,GetCreditInfo,2022-05-12 15:57:31,Android,0.00,2022-05-12
9706887,588692,GetCreditInfo,2022-05-12 15:58:46,Android,0.00,2022-05-12
9903831,588692,OpenApp,2022-05-13 17:40:05,Android,3.12,2022-05-13
9903876,588692,Login,2022-05-13 17:40:14,Android,3.12,2022-05-13
10588569,588692,OpenApp,2022-05-18 14:26:13,Android,3.12,2022-05-18
10588760,588692,Login,2022-05-18 14:27:24,Android,3.12,2022-05-18
10588763,588692,GetCreditInfo,2022-05-18 14:27:26,Android,0.00,2022-05-18

#### 2. 앱버전 nan이면서 기기 아이패드 :

In [ ]:
v = 1
file_version = ["until_may", "until_june", "march", "april", "may", "june"][v]

In [ ]:
three_digit_handled = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/데이터정리/three_digit_handled.csv')

In [ ]:
import pandas as pd
log_data = pd.read_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/1D_normalized_log_data({file_version}).csv')
iPad = log_data[log_data['mp_os']=='iPadOS']

In [ ]:
#이벤트 별로 앱 버전 null 인 경우 보려고 했는데 크게 상관 없음
iPad[iPad['event']=='StartLoanApply']

,org_index,user_id,event,timestamp,mp_os,mp_app_version,date_cd
81661,1135594,846236,StartLoanApply,2022-03-01 15:54:00,iPadOS,3.6.0,2022-03-01
87367,1135638,846236,StartLoanApply,2022-03-01 16:27:56,iPadOS,3.6.0,2022-03-01
93597,9682007,45960,StartLoanApply,2022-03-01 17:02:32,iPadOS,3.6.0,2022-03-01
215824,14987452,673220,StartLoanApply,2022-03-02 12:13:07,iPadOS,3.6.0,2022-03-02
217626,14987487,673220,StartLoanApply,2022-03-02 12:22:01,iPadOS,3.6.0,2022-03-02
...,...,...,...,...,...,...,...
17106607,3883616,647605,StartLoanApply,2022-06-30 16:24:06,iPadOS,3.13.1,2022-06-30
17110993,3883665,492580,StartLoanApply,2022-06-30 16:43:08,iPadOS,3.13.1,2022-06-30
17132369,9751198,725988,StartLoanApply,2022-06-30 18:43:42,iPadOS,3.13.1,2022-06-30
17133119,9751220,725988,StartLoanApply,2022-06-30 18:49:16,iPadOS,3.13.1,2022-06-30
17149567,1291940,161346,StartLoanApply,2022-06-30 20:56:59,iPadOS,3.13.1,2022-06-30

In [ ]:
pad_data = iPad[iPad['mp_app_version'].isnull() == True]
pad_data['addition']= -1
pad_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,org_index,user_id,event,timestamp,mp_os,mp_app_version,date_cd,addition
11408040,13986333,216504,UseLoanManage,2022-05-24 16:02:49,iPadOS,NaN,2022-05-24,-1
11409496,13986334,216504,CompleteIDCertification,2022-05-24 16:10:12,iPadOS,NaN,2022-05-24,-1
11409507,13986335,216504,SignUp,2022-05-24 16:10:15,iPadOS,NaN,2022-05-24,-1
11409527,13986336,84923,UseLoanManage,2022-05-24 16:10:19,iPadOS,NaN,2022-05-24,-1
11410070,13986342,84923,CompleteIDCertification,2022-05-24 16:13:03,iPadOS,NaN,2022-05-24,-1
...,...,...,...,...,...,...,...,...
15163936,7454108,452429,UseLoanManage,2022-06-19 22:16:26,iPadOS,NaN,2022-06-19,-1
15164039,7454109,452429,ViewLoanApplyIntro,2022-06-19 22:17:39,iPadOS,NaN,2022-06-19,-1
15164186,7454114,452429,CompleteIDCertification,2022-06-19 22:19:17,iPadOS,NaN,2022-06-19,-1
15164372,7454115,452429,EndLoanApply,2022-06-19 22:21:24,iPadOS,NaN,2022-06-19,-1
15165164,5415577,608223,UseLoanManage,2022-06-19 22:31:51,iPadOS,NaN,2022-06-19,-1

In [ ]:
result = pd.merge(three_digit_handled, pad_data, how='left')
result

,user_id,event,timestamp,mp_os,mp_app_version,date_cd,org_index,addition
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.08,2022-03-25,NaN,NaN
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.08,2022-03-25,NaN,NaN
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.08,2022-03-25,NaN,NaN
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.06,2022-03-25,NaN,NaN
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.06,2022-03-25,NaN,NaN
...,...,...,...,...,...,...,...,...
17169744,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13,2022-05-27,NaN,NaN
17169745,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13,2022-05-27,NaN,NaN
17169746,593062,OpenApp,2022-05-27 16:19:10,Android,3.13,2022-05-27,NaN,NaN
17169747,593062,Login,2022-05-27 16:19:15,Android,3.13,2022-05-27,NaN,NaN
17169748,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13,2022-05-27,NaN,NaN

In [ ]:
pad_null_list = iPad[iPad['mp_app_version']=='null']['date_cd'].unique()
#앱버전이 null값인 날짜들 모아봄

In [ ]:
for i in pad_null_list:
  print(iPad[iPad['date_cd']==i]['mp_app_version'].unique())
#앱버전이 null값이 있는 날짜들을 봤을 때 해당 날짜에는 모든 앱 버전이 없
#즉, 아이패드의 경우 동일 날짜에 null 값이 뜸.

In [ ]:
iPad_dates = iPad['date_cd'].unique()
iPad_dates = pd.DataFrame(iPad_dates)
iPad_dates.columns = ['date']
iPad_dates['check']=0
for i in range(len(iPad_dates['date'])):
  if iPad_dates['date'][i] not in pad_null_list:
    iPad_dates['check'][i]=0
  else:
    iPad_dates['check'][i]=1
print(iPad_dates.sort_values('date').head(60))
print(iPad_dates.sort_values('date').tail(60))
# 2022-05-24 부터 2022-06-19 까지 아이패드 앱 버전 없음 -> 아이패드랑 아이폰이랑 앱버전 추이 비교해서 집어넣으면 될 듯

          date  check
0   2022-03-01      0
1   2022-03-02      0
2   2022-03-03      0
3   2022-03-04      0
4   2022-03-06      0
5   2022-03-07      0
6   2022-03-08      0
7   2022-03-11      0
8   2022-03-12      0
9   2022-03-13      0
10  2022-03-14      0
11  2022-03-15      0
12  2022-03-16      0
13  2022-03-17      0
14  2022-03-18      0
15  2022-03-19      0
16  2022-03-20      0
17  2022-03-21      0
18  2022-03-22      0
19  2022-03-23      0
20  2022-03-24      0
21  2022-03-25      0
22  2022-03-28      0
23  2022-03-29      0
24  2022-03-30      0
25  2022-03-31      0
26  2022-04-02      0
27  2022-04-03      0
28  2022-04-04      0
29  2022-04-05      0
30  2022-04-06      0
31  2022-04-07      0
32  2022-04-08      0
33  2022-04-09      0
34  2022-04-11      0
35  2022-04-12      0
36  2022-04-13      0
37  2022-04-14      0
38  2022-04-15      0
39  2022-04-16      0
40  2022-04-17      0
41  2022-04-18      0
42  2022-04-19      0
43  2022-04-20      0
44  2022-04-21      0
45  2022-04-22      0
46  2022-04-23      0
47  2022-04-25      0
48  2022-04-26      0
49  2022-04-27      0
50  2022-04-28      0
51  2022-04-29      0
52  2022-04-30      0
53  2022-05-02      0
54  2022-05-03      0
55  2022-05-04      0
56  2022-05-05      0
57  2022-05-06      0
58  2022-05-07      0
59  2022-05-08      0
           date  check
53   2022-05-02      0
54   2022-05-03      0
55   2022-05-04      0
56   2022-05-05      0
57   2022-05-06      0
58   2022-05-07      0
59   2022-05-08      0
60   2022-05-09      0
61   2022-05-10      0
62   2022-05-11      0
63   2022-05-12      0
64   2022-05-13      0
65   2022-05-14      0
66   2022-05-15      0
67   2022-05-16      0
68   2022-05-17      0
69   2022-05-18      0
70   2022-05-19      0
71   2022-05-20      0
72   2022-05-21      0
73   2022-05-22      0
74   2022-05-23      0
75   2022-05-24      0
76   2022-05-25      0
77   2022-05-26      0
78   2022-05-27      0
79   2022-05-28      0
80   2022-05-29      0
81   2022-05-30      0
82   2022-05-31      0
83   2022-06-01      0
84   2022-06-02      0
85   2022-06-03      0
86   2022-06-04      0
87   2022-06-05      0
88   2022-06-06      0
89   2022-06-07      0
90   2022-06-08      0
91   2022-06-09      0
92   2022-06-10      0
93   2022-06-11      0
94   2022-06-12      0
95   2022-06-13      0
96   2022-06-14      0
97   2022-06-15      0
98   2022-06-16      0
99   2022-06-17      0
100  2022-06-18      0
101  2022-06-19      0
102  2022-06-20      0
103  2022-06-21      0
104  2022-06-22      0
105  2022-06-23      0
106  2022-06-24      0
107  2022-06-25      0
108  2022-06-26      0
109  2022-06-27      0
110  2022-06-28      0
111  2022-06-29      0
112  2022-06-30      0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
ios = log_data[log_data['mp_os']=='iOS']

In [ ]:
ios[ios['date_cd']=='2022-06-08']['mp_app_version'].unique()
#아이폰이어도 다 앱버전 없었던 건 또 아님

array([nan, '3.12.0', '3.10.0', '3.6.0', '3.10.2', '3.2.2', '3.4.0',
       '3.2.1', '3.8.0', '3.0.1', '3.6.1', '3.3.0', '3.3.2', '3.7.0',
       '3.4.1', '3.3.1', '2.28.2', '2.1.8', '3.2.4', '3.8.1', '1.9.1',
       '3.2.3', '2.2.7', '3.5.0', '1.5.5', '2.0.7', '2.31.1', '3.12.1',
       '2.2.9', '2.23.4', '3.1.1', '3.10.1', '2.30.4', '1.5.2', '1.9.9',
       '1.1.7', '2.2.8', '2.0.3', '3.2.0', '1.6.5', '3.1.0', '2.27.0',
       '2.22.4', '2.30.6', '1.2.4'], dtype=object)

#### 3. 앱버전 nan이면서 기기 아이폰

In [ ]:
ios_null = ios[ios['mp_app_version']=='null'].sort_values('timestamp')

In [ ]:
ios_null['user_id'].unique()

array([], dtype=int64)

In [ ]:
log_data[log_data['user_id']==463388]

,org_index,user_id,event,timestamp,mp_os,mp_app_version,date_cd
6135360,16272404,463388,GetCreditInfo,2022-04-18 01:27:26,iOS,3.7.0,2022-04-18
6135361,5715990,463388,UseLoanManage,2022-04-18 01:27:27,iOS,3.7.0,2022-04-18
6135365,5715992,463388,ViewLoanApplyIntro,2022-04-18 01:27:41,iOS,3.7.0,2022-04-18
6135377,5715993,463388,CompleteIDCertification,2022-04-18 01:28:03,iOS,3.7.0,2022-04-18
6135448,5715997,463388,EndLoanApply,2022-04-18 01:30:12,iOS,3.7.0,2022-04-18
...,...,...,...,...,...,...,...
12454325,16979562,463388,OpenApp,2022-06-01 10:09:31,iOS,NaN,2022-06-01
12454333,14275028,463388,GetCreditInfo,2022-06-01 10:09:34,iOS,3.8.0,2022-06-01
12454338,16979564,463388,UseLoanManage,2022-06-01 10:09:35,iOS,NaN,2022-06-01
12454429,16979565,463388,UseLoanManage,2022-06-01 10:10:20,iOS,NaN,2022-06-01
12454431,14275041,463388,GetCreditInfo,2022-06-01 10:10:21,iOS,3.12.0,2022-06-01

In [ ]:
nan_handled = result.copy()

In [ ]:
nan_handled.loc[nan_handled['mp_app_version']=='null', 'mp_app_version'] = '-1.00'
nan_handled

,user_id,event,timestamp,mp_os,mp_app_version,date_cd,org_index,addition
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.08,2022-03-25,NaN,NaN
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.08,2022-03-25,NaN,NaN
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.08,2022-03-25,NaN,NaN
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.06,2022-03-25,NaN,NaN
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.06,2022-03-25,NaN,NaN
...,...,...,...,...,...,...,...,...
17169744,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13,2022-05-27,NaN,NaN
17169745,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13,2022-05-27,NaN,NaN
17169746,593062,OpenApp,2022-05-27 16:19:10,Android,3.13,2022-05-27,NaN,NaN
17169747,593062,Login,2022-05-27 16:19:15,Android,3.13,2022-05-27,NaN,NaN
17169748,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13,2022-05-27,NaN,NaN

In [ ]:
nan_handled[nan_handled['addition']==-1]

,user_id,event,timestamp,mp_os,mp_app_version,date_cd,org_index,addition
736159,244431,StartLoanApply,2022-06-07 15:40:51,iPadOS,NaN,2022-06-07,765008.0,-1.0
736162,244431,ViewLoanApplyIntro,2022-06-07 15:40:51,iPadOS,NaN,2022-06-07,765011.0,-1.0
736165,244431,CompleteIDCertification,2022-06-07 15:42:06,iPadOS,NaN,2022-06-07,765014.0,-1.0
736172,244431,EndLoanApply,2022-06-07 15:46:11,iPadOS,NaN,2022-06-07,765022.0,-1.0
736290,244431,CompleteIDCertification,2022-06-07 16:31:58,iPadOS,NaN,2022-06-07,765145.0,-1.0
...,...,...,...,...,...,...,...,...
17161605,304266,EndLoanApply,2022-06-08 15:55:15,iPadOS,NaN,2022-06-08,17835531.0,-1.0
17161619,684074,StartLoanApply,2022-06-08 16:19:06,iPadOS,NaN,2022-06-08,17835545.0,-1.0
17161620,684074,ViewLoanApplyIntro,2022-06-08 16:19:06,iPadOS,NaN,2022-06-08,17835546.0,-1.0
17161624,684074,CompleteIDCertification,2022-06-08 16:19:30,iPadOS,NaN,2022-06-08,17835550.0,-1.0
17161628,684074,EndLoanApply,2022-06-08 16:23:29,iPadOS,NaN,2022-06-08,17835554.0,-1.0

In [ ]:
nan_handled['mp_app_version'].unique()

array([3.08, 3.06, 3.05, 3.07, 3.02, 3.1, 3.13, 3.12, 3.11, 3.03, 3.09,
       3.0, 3.15, 3.14, nan, 3.04, 2.31, 3.01, 2.28, 0.0, 2.02, 1.02,
       2.24, 2.27, 1.06, 1.09, 2.19, 2.0, 2.25, 2.23, 2.22, 2.3, 2.21,
       2.01, 1.07, 1.01, 2.17, 1.05, 1.08, 1.0, 2.26, 2.29, 2.2, 1.04,
       2.18, 1.03], dtype=object)

In [ ]:
nan_handled['mp_app_version'] = nan_handled['mp_app_version'].apply(lambda x: float(x))
nan_handled.loc[nan_handled['addition'].isna(), 'addition'] = 0
nan_handled.head()

,user_id,event,timestamp,mp_os,mp_app_version,date_cd,org_index,addition
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.08,2022-03-25,NaN,0.0
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.08,2022-03-25,NaN,0.0
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.08,2022-03-25,NaN,0.0
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.06,2022-03-25,NaN,0.0
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.06,2022-03-25,NaN,0.0

In [ ]:
ipad_handled = nan_handled.copy()

In [ ]:
ipad_handled['mp_app_version'] = ipad_handled['mp_app_version']+ipad_handled['addition']
ipad_handled.head(20)

,user_id,event,timestamp,mp_os,mp_app_version,date_cd,org_index,addition
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.08,2022-03-25,NaN,0.0
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.08,2022-03-25,NaN,0.0
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.08,2022-03-25,NaN,0.0
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.06,2022-03-25,NaN,0.0
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.06,2022-03-25,NaN,0.0
5,640185,UseLoanManage,2022-03-25 11:41:53,iOS,3.06,2022-03-25,NaN,0.0
6,640185,ViewLoanApplyIntro,2022-03-25 11:42:38,iOS,3.06,2022-03-25,NaN,0.0
7,640185,UsePrepayCalc,2022-03-25 11:43:07,iOS,3.06,2022-03-25,NaN,0.0
8,640185,UseLoanManage,2022-03-25 11:43:57,iOS,3.06,2022-03-25,NaN,0.0
9,640185,UseLoanManage,2022-03-25 11:44:04,iOS,3.06,2022-03-25,NaN,0.0
10,640185,UseLoanManage,2022-03-25 11:44:16,iOS,3.06,2022-03-25,NaN,0.0
11,640185,UseLoanManage,2022-03-25 11:44:19,iOS,3.06,2022-03-25,NaN,0.0
12,814215,OpenApp,2022-03-25 11:44:34,Android,3.08,2022-03-25,NaN,0.0
13,814215,Login,2022-03-25 11:44:38,Android,3.08,2022-03-25,NaN,0.0
14,814215,UseLoanManage,2022-03-25 11:44:44,Android,3.08,2022-03-25,NaN,0.0
15,640185,UseLoanManage,2022-03-25 11:44:58,iOS,3.06,2022-03-25,NaN,0.0
16,814215,UseLoanManage,2022-03-25 11:44:58,Android,3.08,2022-03-25,NaN,0.0
17,814215,UseLoanManage,2022-03-25 11:45:10,Android,3.08,2022-03-25,NaN,0.0
18,814215,ViewLoanApplyIntro,2022-03-25 11:45:43,Android,3.08,2022-03-25,NaN,0.0
19,640185,ViewLoanApplyIntro,2022-03-25 11:45:45,iOS,3.06,2022-03-25,NaN,0.0

In [ ]:
ipad_handled[ipad_handled['addition']==-1]
#즉, ipad가 앱버전 null인 경우는 -2로 넣어둠

,user_id,event,timestamp,mp_os,mp_app_version,date_cd,org_index,addition
11408031,216504,UseLoanManage,2022-05-24 16:02:49,iPadOS,NaN,2022-05-24,10588429.0,-1.0
11409485,216504,CompleteIDCertification,2022-05-24 16:10:12,iPadOS,NaN,2022-05-24,10588430.0,-1.0
11409500,216504,SignUp,2022-05-24 16:10:15,iPadOS,NaN,2022-05-24,10588431.0,-1.0
11409517,84923,UseLoanManage,2022-05-24 16:10:19,iPadOS,NaN,2022-05-24,10588432.0,-1.0
11410060,84923,CompleteIDCertification,2022-05-24 16:13:03,iPadOS,NaN,2022-05-24,10588438.0,-1.0
...,...,...,...,...,...,...,...,...
12397898,514909,CompleteIDCertification,2022-05-31 18:09:21,iPadOS,NaN,2022-05-31,9816949.0,-1.0
12398074,514909,EndLoanApply,2022-05-31 18:10:50,iPadOS,NaN,2022-05-31,9816962.0,-1.0
12420069,514909,EndLoanApply,2022-05-31 21:57:41,iPadOS,NaN,2022-05-31,9817151.0,-1.0
12420070,514909,StartLoanApply,2022-05-31 21:57:41,iPadOS,NaN,2022-05-31,9817148.0,-1.0
12420074,514909,ViewLoanApplyIntro,2022-05-31 21:57:43,iPadOS,NaN,2022-05-31,9817153.0,-1.0

In [ ]:
final_result = ipad_handled[['user_id', 'event', 'timestamp', 'mp_os', 'mp_app_version', 'date_cd']]

In [ ]:
# 모든 결측치를 채우기보다 파생변수를 만들기 위해 정리한 형태가 final_result
final_result.isnull().value_counts()

user_id  event  timestamp  mp_os  mp_app_version  date_cd
False    False  False      False  False           False      16565241
                                  True            False        603561
                           True   True            False           947
dtype: int64

### 파생변수 : app_update_activeness

how? 날짜별 max 앱버전 추출

In [ ]:
final_result.loc[final_result['mp_os']=='android', 'mp_os'] = 'Android'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
ios_pad_data = final_result[final_result['mp_os']!='Android'] #기기 정보 nan도 여기 들어가 있는 거 추후 확인
android_data = final_result[final_result['mp_os']=='Android']

In [ ]:
ios_needed = ios_pad_data[['date_cd', 'mp_app_version']]
android_needed = android_data[['date_cd', 'mp_app_version']]

In [ ]:
ios_max_by_date = ios_needed.groupby('date_cd').max().reset_index().sort_values('date_cd')
ios_max_by_date.columns = ['date_cd', 'ios_ver']
android_max_by_date = android_needed.groupby('date_cd').max().reset_index().sort_values('date_cd')
android_max_by_date.columns = ['date_cd', 'android_ver']

In [ ]:
merged = pd.merge(ios_max_by_date, android_max_by_date, on='date_cd', how='outer')

In [ ]:
merged['diff'] = merged['android_ver']-merged['ios_ver']

In [ ]:
merged

        date_cd  ios_ver  android_ver  diff
0    2022-03-01     3.06         3.08  0.02
1    2022-03-02     3.06         3.08  0.02
2    2022-03-03     3.06         3.08  0.02
3    2022-03-04     3.06         3.08  0.02
4    2022-03-05     3.06         3.08  0.02
..          ...      ...          ...   ...
117  2022-06-26     3.13         3.15  0.02
118  2022-06-27     3.13         3.15  0.02
119  2022-06-28     3.13         3.15  0.02
120  2022-06-29     3.13         3.15  0.02
121  2022-06-30     3.13         3.15  0.02

[122 rows x 4 columns]

In [ ]:
print(ios_max_by_date['ios_ver'].unique())
print(android_max_by_date['android_ver'].unique())

[3.06 3.07 3.08 3.1  3.11 3.12 3.13]
[3.08 3.1  3.11 3.12 3.14 3.13 3.15]

In [ ]:
merged['diff'].unique()

array([0.02, 0.04, 0.03, 0.03, 0.01, 0.01])

In [ ]:
merged['diff'].describe()

count    122.000000
mean       0.024180
std        0.007909
min        0.010000
25%        0.020000
50%        0.020000
75%        0.030000
max        0.040000
Name: diff, dtype: float64

유저별로 각 날짜에 max값(앱 버전)을 구해두자

In [ ]:
ios_pad_data_grouped = ios_pad_data.groupby(['user_id', 'date_cd'])['mp_app_version'].max().reset_index()
android_data_grouped = android_data.groupby(['user_id', 'date_cd'])['mp_app_version'].max().reset_index()

In [ ]:
ios_pad_data_grouped['mp_app_version'].unique()
#ios에서 -2아직 남아있는 걸 보면 아이패드에서만 접근하고 앱버전 없는 데이터도 아직 살아 있다는 의미..

array([3.06, 3.07,  nan, 3.13, 3.1 , 3.12, 3.08, 3.01, 3.02, 1.09, 2.28,
       3.05, 3.  , 3.04, 3.03, 1.08, 2.  , 2.27, 2.3 , 2.31, 1.02, 2.22,
       2.24, 2.23, 1.04, 2.01, 2.25, 1.07, 1.06, 1.01, 1.  , 1.05, 2.02,
       1.03, 3.11])

ios, android데이터에 맥스 값을 머지해서 기준치 만들자

In [ ]:
ios_merged = pd.merge(ios_pad_data_grouped, ios_max_by_date, how='left')
android_merged = pd.merge(android_data_grouped, android_max_by_date, how='left')

In [ ]:
ios_merged['diff']=ios_merged['ios_ver']-ios_merged['mp_app_version']
android_merged['diff']=android_merged['android_ver']-android_merged['mp_app_version']

유저별로 차이 평균 계산

 기본적으로 android user와 ios user의 버전이 0.01단위로 분포하므로 0.01보다 큰 차이를 보이면 update에서 멀어진 유저라 판단

In [ ]:
def diff_check(x):
  if x > 0.01:
    return 0 #0이 앱 업데이트 잘 안하는 거
  else:
    return 1

In [ ]:
ios_merged['ios_activeness'] = ios_merged['diff'].apply(lambda x: diff_check(x))
android_merged['android_activeness'] = android_merged['diff'].apply(lambda x: diff_check(x))

In [ ]:
ios_user_activeness = ios_merged.groupby('user_id')['ios_activeness'].mean().reset_index()
android_user_activeness = android_merged.groupby('user_id')['android_activeness'].mean().reset_index()

In [ ]:
ios_user_activeness

        user_id  ios_activeness
0            11        0.500000
1            17        1.000000
2            19        1.000000
3            34        0.000000
4            41        0.800000
...         ...             ...
105169   879689        1.000000
105170   879693        0.333333
105171   879694        1.000000
105172   879695        1.000000
105173   879698        1.000000

[105174 rows x 2 columns]

In [ ]:
ios_user_activeness['ios_active_updates'] = ios_user_activeness['ios_activeness'].apply(lambda x: 0 if x<  0.5 else 1)
android_user_activeness['android_active_updates'] = android_user_activeness['android_activeness'].apply(lambda x: 0 if x<  0.5 else 1)

In [ ]:
ios_user_activeness.head()

   user_id  ios_activeness  ios_active_updates
0       11             0.5                   1
1       17             1.0                   1
2       19             1.0                   1
3       34             0.0                   0
4       41             0.8                   1

In [ ]:
android_user_activeness.head()

   user_id  android_activeness  android_active_updates
0        1            0.000000                       0
1        7            0.000000                       0
2        9            0.000000                       0
3       12            0.600000                       1
4       20            0.777778                       1

두 기기 다 쓰는 유저들만 일단 생각해보자

In [ ]:
user_merged = pd.merge(ios_user_activeness, android_user_activeness, how='inner', on='user_id')
#user_merged = user_merged[['ios_active_updates', 'android_active_updates']]
user_merged

,user_id,ios_activeness,ios_active_updates,android_activeness,android_active_updates
0,34,0.0,0,0.750000,1
1,52,1.0,1,0.900000,1
2,91,1.0,1,0.600000,1
3,187,1.0,1,0.000000,0
4,229,1.0,1,1.000000,1
...,...,...,...,...,...
6060,879058,1.0,1,0.000000,0
6061,879111,1.0,1,0.500000,1
6062,879511,1.0,1,0.000000,0
6063,879595,0.5,1,0.333333,0
6064,879629,1.0,1,0.727273,1

In [ ]:
user_merged['check']=user_merged['ios_active_updates']+user_merged['android_active_updates']

In [ ]:
user_merged[user_merged['check']==1]
#1인 경우가 ios와 android의 업데이트 정도가 다르게 판별된 애들인데 4261 정도로 꽤 많음. (두 기기 사용자가 9004인 거 생각해보면)

,user_id,ios_activeness,ios_active_updates,android_activeness,android_active_updates,check
0,34,0.000000,0,0.750000,1,1
3,187,1.000000,1,0.000000,0,1
8,1296,1.000000,1,0.250000,0,1
10,1309,1.000000,1,0.428571,0,1
12,1606,0.666667,1,0.000000,0,1
...,...,...,...,...,...,...
6054,877758,1.000000,1,0.230769,0,1
6055,878019,1.000000,1,0.200000,0,1
6060,879058,1.000000,1,0.000000,0,1
6062,879511,1.000000,1,0.000000,0,1
6063,879595,0.500000,1,0.333333,0,1

그냥 구분해서 보지 말고 ios, android의 diff 구할 때만 (버전 차이 구할때만) 나눠서 하고 다시 합쳐서 전체로 봐서 구하자

In [ ]:
ios_needed = ios_merged[['user_id', 'diff']]
android_needed = android_merged[['user_id', 'diff']]
total = pd.concat([ios_needed, android_needed])
total

         user_id  diff
0             11  0.00
1             11  0.01
2             17  0.00
3             17  0.00
4             19  0.00
...          ...   ...
1615717   879692  0.01
1615718   879692  0.02
1615719   879692  0.02
1615720   879692  0.01
1615721   879696  0.00

[1976828 rows x 2 columns]

In [ ]:
total['activeness'] = total['diff'].apply(lambda x: diff_check(x))
total = total.groupby('user_id')['activeness'].mean().reset_index()

In [ ]:
total['result'] = total['activeness'].apply(lambda x: 0 if x<  0.5 else 1)
total

        user_id  activeness  result
0             1    0.000000       0
1             7    0.000000       0
2             9    0.000000       0
3            11    0.500000       1
4            12    0.600000       1
...         ...         ...     ...
479768   879693    0.333333       0
479769   879694    1.000000       1
479770   879695    1.000000       1
479771   879696    1.000000       1
479772   879698    1.000000       1

[479773 rows x 3 columns]

In [ ]:
result = total[['user_id', 'result']]
result.columns = ['user_id', 'update_activeness']

In [ ]:
result

        user_id  update_activeness
0             1                  0
1             7                  0
2             9                  0
3            11                  1
4            12                  1
...         ...                ...
479768   879693                  0
479769   879694                  1
479770   879695                  1
479771   879696                  1
479772   879698                  1

[479773 rows x 2 columns]

In [ ]:
result.to_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/파생변수/app_update_activeness({file_version}).csv', index=False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
v = 1
file_version = ["until_may", "until_june", "march", "april", "may", "june"][v]

In [ ]:
import pandas as pd
cleaned = pd.read_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/three_digit_handled({file_version}).csv')

### 파생변수 : event_count percent

데이터: 데이터/event_percent.csv

In [ ]:
grouped = cleaned.groupby(['user_id', 'event'])['timestamp'].count().reset_index()
grouped.columns = ['user_id', 'event', 'count']

In [ ]:
user = cleaned.groupby('user_id')['timestamp'].count().reset_index()
user.columns = ['user_id', 'total_count']

In [ ]:
merged = pd.merge(grouped, user, how= 'left')
merged.head()

   user_id          event  count  total_count
0        1  GetCreditInfo      3            5
1        1          Login      1            5
2        1  UseLoanManage      1            5
3        7  GetCreditInfo      1            1
4        9  GetCreditInfo      3            3

In [ ]:
merged['div'] = merged['count'].div(merged['total_count'])

In [ ]:
merged.head()

   user_id          event  count  total_count  div
0        1  GetCreditInfo      3            5  0.6
1        1          Login      1            5  0.2
2        1  UseLoanManage      1            5  0.2
3        7  GetCreditInfo      1            1  1.0
4        9  GetCreditInfo      3            3  1.0

In [ ]:
pivoted2 = merged.pivot_table('div', 'user_id', 'event', aggfunc='max').reset_index()
pivoted2 = pivoted2.fillna(0)
pivoted2.head()

event,user_id,CompleteIDCertification,EndLoanApply,GetCreditInfo,Login,OpenApp,SignUp,StartLoanApply,UseDSRCalc,UseLoanManage,UsePrepayCalc,ViewLoanApplyIntro
0,1,0.000000,0.000000,0.600000,0.200000,0.000000,0.0,0.000000,0.0,0.200000,0.000000,0.000000
1,7,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
2,9,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
3,11,0.102564,0.153846,0.205128,0.000000,0.128205,0.0,0.102564,0.0,0.153846,0.025641,0.128205
4,12,0.141509,0.235849,0.047170,0.141509,0.141509,0.0,0.141509,0.0,0.009434,0.000000,0.141509

In [ ]:
pivoted2.to_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/파생변수/event_count_percent({file_version}).csv', index=False)

### 파생변수 : endloan_re_by_date

 재접속하면 many 1

(0,1,2)

In [ ]:
endloan = cleaned[cleaned['event']=='EndLoanApply']
startloan = cleaned[cleaned['event']=='StartLoanApply']
display(endloan.head())
display(startloan.head())

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
4,512341,EndLoanApply,2022-03-01 00:00:03,Android,3.08,2022-03-01
18,661370,EndLoanApply,2022-03-01 00:00:19,Android,3.07,2022-03-01
80,760788,EndLoanApply,2022-03-01 00:01:10,Android,3.08,2022-03-01
86,760788,EndLoanApply,2022-03-01 00:01:29,Android,3.08,2022-03-01
89,733765,EndLoanApply,2022-03-01 00:01:33,Android,3.08,2022-03-01

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
10,140973,StartLoanApply,2022-03-01 00:00:06,Android,3.08,2022-03-01
11,720911,StartLoanApply,2022-03-01 00:00:11,iOS,3.06,2022-03-01
14,140973,StartLoanApply,2022-03-01 00:00:13,Android,3.08,2022-03-01
24,684708,StartLoanApply,2022-03-01 00:00:19,iOS,3.06,2022-03-01
31,684708,StartLoanApply,2022-03-01 00:00:25,iOS,3.06,2022-03-01

In [ ]:
endloan_grouped = endloan.groupby(['user_id', 'date_cd'])['timestamp'].count().reset_index()
startloan_grouped = startloan.groupby(['user_id', 'date_cd'])['timestamp'].count().reset_index()
endloan_grouped.columns=['user_id', 'date_cd', 'end']
display(endloan_grouped.head())
startloan_grouped.columns=['user_id', 'date_cd', 'start']
#startloan_grouped['start'] = startloan_grouped['start']-1
display(startloan_grouped.head())

   user_id     date_cd  end
0       11  2022-03-24    1
1       11  2022-04-20    3
2       11  2022-06-09    1
3       11  2022-06-13    1
4       12  2022-03-14    2

   user_id     date_cd  start
0       11  2022-03-24      1
1       11  2022-04-20      1
2       11  2022-06-09      1
3       11  2022-06-13      1
4       12  2022-03-14      1

In [ ]:
show_desperate_user_by_date = pd.merge(endloan_grouped, startloan_grouped, how='outer')
show_desperate_user_by_date = show_desperate_user_by_date.fillna(0)
show_desperate_user_by_date['end_minus_start'] = show_desperate_user_by_date['end']-show_desperate_user_by_date['start']
show_desperate_user_by_date.head()

   user_id     date_cd  end  start  end_minus_start
0       11  2022-03-24  1.0    1.0              0.0
1       11  2022-04-20  3.0    1.0              2.0
2       11  2022-06-09  1.0    1.0              0.0
3       11  2022-06-13  1.0    1.0              0.0
4       12  2022-03-14  2.0    1.0              1.0

In [ ]:
show_desperate_user_by_date['is_desperate'] = show_desperate_user_by_date['end_minus_start'].apply(lambda x: 1 if x>0 else 0)
show_desperate_user_by_date

         user_id     date_cd  end  start  end_minus_start  is_desperate
0             11  2022-03-24  1.0    1.0              0.0             0
1             11  2022-04-20  3.0    1.0              2.0             1
2             11  2022-06-09  1.0    1.0              0.0             0
3             11  2022-06-13  1.0    1.0              0.0             0
4             12  2022-03-14  2.0    1.0              1.0             1
...          ...         ...  ...    ...              ...           ...
1217909   879683  2022-04-07  0.0    1.0             -1.0             0
1217910   879683  2022-04-21  0.0    1.0             -1.0             0
1217911   879689  2022-04-06  0.0    1.0             -1.0             0
1217912   879693  2022-06-27  0.0    1.0             -1.0             0
1217913   879698  2022-05-24  0.0    1.0             -1.0             0

[1217914 rows x 6 columns]

In [ ]:
by_date = show_desperate_user_by_date[['user_id', 'date_cd', 'is_desperate']]
by_date.head()
# is_desperate : endloan 을 재접속한 날

   user_id     date_cd  is_desperate
0       11  2022-03-24             0
1       11  2022-04-20             1
2       11  2022-06-09             0
3       11  2022-06-13             0
4       12  2022-03-14             1

In [ ]:
by_date

         user_id     date_cd  is_desperate
0             11  2022-03-24             0
1             11  2022-04-20             1
2             11  2022-06-09             0
3             11  2022-06-13             0
4             12  2022-03-14             1
...          ...         ...           ...
1217909   879683  2022-04-07             0
1217910   879683  2022-04-21             0
1217911   879689  2022-04-06             0
1217912   879693  2022-06-27             0
1217913   879698  2022-05-24             0

[1217914 rows x 3 columns]

In [ ]:
by_date.to_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/파생변수/endloan_re_by_date({file_version}).csv', index=False)

### 파생변수 : end_loan_by_user

 : user_avg_desperateness

In [ ]:
user_avg_desperateness = show_desperate_user_by_date.groupby(['user_id'])['is_desperate'].mean().reset_index()
user_avg_desperateness.head()

   user_id  is_desperate
0       11      0.250000
1       12      0.714286
2       17      0.000000
3       19      0.000000
4       20      0.142857

In [ ]:
all_user = pd.DataFrame(cleaned['user_id'].unique())
all_user.columns = ['user_id']

In [ ]:
user_avg_desperateness = pd.merge(all_user, user_avg_desperateness, how='left')

In [ ]:
user_avg_desperateness = user_avg_desperateness.fillna(0)
user_avg_desperateness.head()

   user_id  is_desperate
0   125129      0.142857
1   385811      1.000000
2   720911      0.000000
3   706858      1.000000
4   512341      0.275862

In [ ]:
user_avg_desperateness['desperate_score'] = user_avg_desperateness['is_desperate'].apply(lambda x: 0 if x == 0 else (1 if x < 0.5 else 2))
user_avg_desperateness.head()

   user_id  is_desperate  desperate_score
0   125129      0.142857                1
1   385811      1.000000                2
2   720911      0.000000                0
3   706858      1.000000                2
4   512341      0.275862                1

In [ ]:
user_avg_desperateness.to_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/파생변수/endloan_by_user({file_version}).csv', index=False)

### ver2 파생변수 : 유저, 날짜 별 4개의 행동 유형

open만 | start loan 있지만 endloan은 없음 | end loan까지 | 이후 추가적 행위도 
이렇게 4개로 나눠서 한 유저의 하루 행동을 이 4개 카테고리 중 하나로 분류하고 그 비율 구해서 어떤 분류에 속하는지 구해보기 (col 4개 새로 생성)

데이터/user_event_based_grouped.csv

In [ ]:
cleaned['event'].unique()

array(['UseLoanManage', 'Login', 'OpenApp', 'EndLoanApply',
       'GetCreditInfo', 'ViewLoanApplyIntro', 'StartLoanApply',
       'UseDSRCalc', 'CompleteIDCertification', 'SignUp', 'UsePrepayCalc'],
      dtype=object)

start loan을 1, endloan을 2, UseLoanManage, UsePrepayCalc, UseDSRCalc, GetCreditInfo를 -1로 나머지는 0

In [ ]:
divided = cleaned.copy()

In [ ]:
divided['check']=0

In [ ]:
divided.loc[divided['event']=='StartLoanApply', 'check'] = 1
divided.loc[divided['event']=='EndLoanApply', 'check'] = 2
divided.loc[divided['event']=='UseLoanManage', 'check'] = -1
divided.loc[divided['event']=='UsePrepayCalc', 'check'] = -1
divided.loc[divided['event']=='UseDSRCalc', 'check'] = -1
divided.loc[divided['event']=='GetCreditInfo', 'check'] = -1

In [ ]:
divided.head()

,user_id,event,timestamp,mp_os,mp_app_version,date_cd,check
0,125129,UseLoanManage,2022-03-01 00:00:00,Android,3.08,2022-03-01,-1
1,385811,Login,2022-03-01 00:00:00,Android,3.08,2022-03-01,0
2,720911,OpenApp,2022-03-01 00:00:00,iOS,3.06,2022-03-01,0
3,706858,UseLoanManage,2022-03-01 00:00:03,Android,3.08,2022-03-01,-1
4,512341,EndLoanApply,2022-03-01 00:00:03,Android,3.08,2022-03-01,2

In [ ]:
divide_grouped = divided.groupby(['user_id', 'date_cd'])['check'].max().reset_index()
divide_grouped.columns = ['user_id', 'date_cd', 'max']
divide_grouped.head()

   user_id     date_cd  max
0        1  2022-05-03   -1
1        1  2022-06-16    0
2        7  2022-05-22   -1
3        9  2022-05-21   -1
4       11  2022-03-24    2

In [ ]:
divide_min = divided.groupby(['user_id', 'date_cd'])['check'].min().reset_index()
divide_min.columns = ['user_id', 'date_cd', 'min']
divide_min.head()

   user_id     date_cd  min
0        1  2022-05-03   -1
1        1  2022-06-16   -1
2        7  2022-05-22   -1
3        9  2022-05-21   -1
4       11  2022-03-24   -1

In [ ]:
divide_merged = pd.merge(divide_grouped, divide_min)
divide_merged.head()

   user_id     date_cd  max  min
0        1  2022-05-03   -1   -1
1        1  2022-06-16    0   -1
2        7  2022-05-22   -1   -1
3        9  2022-05-21   -1   -1
4       11  2022-03-24    2   -1

In [ ]:
divide_merged['only_open'] = 0
divide_merged.loc[divide_merged['max']==0, 'only_open'] = 1
divide_merged.loc[divide_merged['min']==-1, 'only_open'] = 0
divide_merged['only_start'] = 0
divide_merged.loc[divide_merged['max']==1, 'only_start'] = 1
divide_merged['ended'] = 0
divide_merged.loc[divide_merged['max']==2, 'ended'] = 1
divide_merged['extra'] = 0
divide_merged.loc[divide_merged['min']==-1, 'extra'] = 1
divide_merged.head()

   user_id     date_cd  max  min  only_open  only_start  ended  extra
0        1  2022-05-03   -1   -1          0           0      0      1
1        1  2022-06-16    0   -1          0           0      0      1
2        7  2022-05-22   -1   -1          0           0      0      1
3        9  2022-05-21   -1   -1          0           0      0      1
4       11  2022-03-24    2   -1          0           0      1      1

In [ ]:
divide_result = divide_merged[['user_id', 'date_cd', 'only_open', 'only_start', 'ended', 'extra']]
divide_result.head(20)

    user_id     date_cd  only_open  only_start  ended  extra
0         1  2022-05-03          0           0      0      1
1         1  2022-06-16          0           0      0      1
2         7  2022-05-22          0           0      0      1
3         9  2022-05-21          0           0      0      1
4        11  2022-03-24          0           0      1      1
5        11  2022-04-20          0           0      1      1
6        11  2022-06-09          0           0      1      0
7        11  2022-06-13          0           0      1      0
8        12  2022-03-14          0           0      1      0
9        12  2022-03-31          0           0      1      0
10       12  2022-04-16          0           0      1      0
11       12  2022-04-25          0           0      1      0
12       12  2022-05-01          0           0      1      1
13       12  2022-05-05          0           0      1      1
14       12  2022-05-10          0           0      1      0
15       12  2022-05-11          0           0      1      0
16       12  2022-05-16          0           0      1      0
17       12  2022-05-19          0           0      1      0
18       12  2022-06-11          0           0      1      0
19       12  2022-06-17          0           0      1      1

In [ ]:
divide_result['check'] = divide_result['only_open'] + divide_result['only_start'] + divide_result['ended'] + divide_result['extra']
divide_result['check'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

1    2051831
2     676322
Name: check, dtype: int64

In [ ]:
divide_result.to_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/파생변수/user_event_based_grouped_by_date({file_version}).csv', index=False)

날짜별 그룹 정보 보려면 바로 위 테이블 확인 (divide_result)

### ver1 파생변수 : 유저 별 4개의 행동유형

In [ ]:
divide_result_grouped = divide_result.groupby(['user_id'])['only_open', 'only_start', 'ended', 'extra'].mean().reset_index()
divide_result_grouped.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

   user_id  only_open  only_start  ended     extra
0        1        0.0         0.0    0.0  1.000000
1        7        0.0         0.0    0.0  1.000000
2        9        0.0         0.0    0.0  1.000000
3       11        0.0         0.0    1.0  0.500000
4       12        0.0         0.0    1.0  0.285714

In [ ]:
divide_result_grouped.to_csv(f'/content/drive/Shareddrives/빅콘테스트/로그/파생변수/user_event_based_grouped({file_version}).csv', index=False)

# 정의한 파생변수들 합치기

In [ ]:
import pandas as pd

df = pd.read_pickle('/content/drive/Shareddrives/빅콘테스트/로그/최종/log_final(until_june)')
df

,user_id,only_open,only_start,ended,extra,update_activeness,desperate_score,CompleteIDCertification,EndLoanApply,GetCreditInfo,Login,OpenApp,SignUp,StartLoanApply,UseDSRCalc,UseLoanManage,UsePrepayCalc,ViewLoanApplyIntro
0,1,0,0,0,1,0,0,0.000000,0.000000,0.600000,0.200000,0.000000,0.0,0.000000,0.0,0.200000,0.000000,0.000000
1,7,0,0,0,1,0,0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
2,9,0,0,0,1,0,0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
3,11,0,0,1,0,1,1,0.102564,0.153846,0.205128,0.000000,0.128205,0.0,0.102564,0.0,0.153846,0.025641,0.128205
4,12,0,0,1,0,1,2,0.141509,0.235849,0.047170,0.141509,0.141509,0.0,0.141509,0.0,0.009434,0.000000,0.141509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584631,879693,0,0,0,0,1,0,0.101695,0.169492,0.033898,0.000000,0.152542,0.0,0.288136,0.0,0.084746,0.000000,0.169492
584632,879694,0,0,1,0,1,0,0.250000,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
584633,879695,0,0,1,0,1,0,0.250000,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
584634,879696,0,0,1,1,1,2,0.090909,0.090909,0.272727,0.181818,0.090909,0.0,0.000000,0.0,0.181818,0.000000,0.090909
584635,879698,0,1,0,0,1,0,0.000000,0.000000,0.000000,0.000000,0.333333,0.0,0.333333,0.0,0.000000,0.000000,0.333333

In [ ]:
import pandas as pd

app_update_activeness = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/app_update_activeness(until_may).csv')
event_count_percent = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/event_count_percent(until_may).csv')
endloan_re_by_date = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/endloan_re_by_date(until_may).csv')
endloan_by_user = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/endloan_by_user(until_may).csv')
user_event_based_grouped = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/user_event_based_grouped(until_may).csv')
user_event_based_grouped_by_date = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/user_event_based_grouped_by_date(until_may).csv')

In [ ]:
# import pandas as pd

# app_update_activeness = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/app_update_activeness(until_june).csv')
# event_count_percent = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/event_count_percent(until_june).csv')
# endloan_re_by_date = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/endloan_re_by_date(until_june).csv')
# endloan_by_user = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/endloan_by_user(until_june).csv')
# user_event_based_grouped = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/user_event_based_grouped(until_june).csv')
# user_event_based_grouped_by_date = pd.read_csv('/content/drive/Shareddrives/빅콘테스트/로그/파생변수/user_event_based_grouped_by_date(until_june).csv')

### version1 : user에 따라 구분

In [ ]:
log_version2 = pd.merge(app_update_activeness, endloan_by_user, on="user_id")
log_version2 = pd.merge(log_version2, event_count_percent, on="user_id")
final2 = pd.merge(user_event_based_grouped_by_date, log_version2, on = "user_id", how="left")
final2

,user_id,date_cd,only_open,only_start,ended,extra,check,update_activeness,is_desperate,desperate_score,...,EndLoanApply,GetCreditInfo,Login,OpenApp,SignUp,StartLoanApply,UseDSRCalc,UseLoanManage,UsePrepayCalc,ViewLoanApplyIntro
0,1,2022-05-03,0,0,0,1,1,0,0.00,0,...,0.000000,0.600000,0.200000,0.000000,0.0,0.000000,0.0,0.200000,0.000000,0.000000
1,1,2022-06-16,0,0,0,1,1,0,0.00,0,...,0.000000,0.600000,0.200000,0.000000,0.0,0.000000,0.0,0.200000,0.000000,0.000000
2,7,2022-05-22,0,0,0,1,1,0,0.00,0,...,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
3,9,2022-05-21,0,0,0,1,1,0,0.00,0,...,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
4,11,2022-03-24,0,0,1,1,2,1,0.25,1,...,0.153846,0.205128,0.000000,0.128205,0.0,0.102564,0.0,0.153846,0.025641,0.128205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728148,879693,2022-06-29,1,0,0,0,1,1,0.00,0,...,0.169492,0.033898,0.000000,0.152542,0.0,0.288136,0.0,0.084746,0.000000,0.169492
2728149,879694,2022-03-31,0,0,1,0,1,1,0.00,0,...,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
2728150,879695,2022-05-27,0,0,1,0,1,1,0.00,0,...,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
2728151,879696,2022-03-14,0,0,1,1,2,1,1.00,2,...,0.090909,0.272727,0.181818,0.090909,0.0,0.000000,0.0,0.181818,0.000000,0.090909
2728152,879698,2022-05-24,0,1,0,0,1,1,0.00,0,...,0.000000,0.000000,0.000000,0.333333,0.0,0.333333,0.0,0.000000,0.000000,0.333333

In [ ]:
final2.to_pickle('/content/drive/Shareddrives/빅콘테스트/로그/최종/log_final2(until_june)')

In [ ]:
log_version1 = pd.merge(app_update_activeness, endloan_by_user, on="user_id")
log_version1 = pd.merge(log_version1, event_count_percent, on="user_id")
final = pd.merge(user_event_based_grouped_by_date, log_version1, on = "user_id", how="left")
final

,user_id,date_cd,only_open,only_start,ended,extra,check,update_activeness,is_desperate,desperate_score,...,EndLoanApply,GetCreditInfo,Login,OpenApp,SignUp,StartLoanApply,UseDSRCalc,UseLoanManage,UsePrepayCalc,ViewLoanApplyIntro
0,1,2022-05-03,0,0,0,1,1,0,0.0,0,...,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
1,7,2022-05-22,0,0,0,1,1,0,0.0,0,...,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
2,9,2022-05-21,0,0,0,1,1,0,0.0,0,...,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
3,11,2022-03-24,0,0,1,1,2,1,0.5,2,...,0.137931,0.275862,0.000000,0.103448,0.0,0.068966,0.0,0.206897,0.034483,0.103448
4,11,2022-04-20,0,0,1,1,2,1,0.5,2,...,0.137931,0.275862,0.000000,0.103448,0.0,0.068966,0.0,0.206897,0.034483,0.103448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973374,879693,2022-05-20,0,0,1,1,2,0,0.0,0,...,0.236842,0.026316,0.000000,0.105263,0.0,0.315789,0.0,0.078947,0.000000,0.131579
1973375,879694,2022-03-31,0,0,1,0,1,1,0.0,0,...,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
1973376,879695,2022-05-27,0,0,1,0,1,1,0.0,0,...,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
1973377,879696,2022-03-14,0,0,1,1,2,1,1.0,2,...,0.090909,0.272727,0.181818,0.090909,0.0,0.000000,0.0,0.181818,0.000000,0.090909
1973378,879698,2022-05-24,0,1,0,0,1,1,0.0,0,...,0.000000,0.000000,0.000000,0.333333,0.0,0.333333,0.0,0.000000,0.000000,0.333333

In [ ]:
final.to_pickle('/content/drive/Shareddrives/빅콘테스트/로그/최종/log_final2(until_may)')

In [ ]:
app_update_activeness

        user_id  update_activeness
0             1                  0
1             7                  0
2             9                  0
3            11                  1
4            12                  1
...         ...                ...
584631   879693                  1
584632   879694                  1
584633   879695                  1
584634   879696                  1
584635   879698                  1

[584636 rows x 2 columns]

In [ ]:
event_count_percent

,user_id,CompleteIDCertification,EndLoanApply,GetCreditInfo,Login,OpenApp,SignUp,StartLoanApply,UseDSRCalc,UseLoanManage,UsePrepayCalc,ViewLoanApplyIntro
0,1,0.000000,0.000000,0.600000,0.200000,0.000000,0.0,0.000000,0.0,0.200000,0.000000,0.000000
1,7,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
2,9,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
3,11,0.102564,0.153846,0.205128,0.000000,0.128205,0.0,0.102564,0.0,0.153846,0.025641,0.128205
4,12,0.141509,0.235849,0.047170,0.141509,0.141509,0.0,0.141509,0.0,0.009434,0.000000,0.141509
...,...,...,...,...,...,...,...,...,...,...,...,...
584631,879693,0.101695,0.169492,0.033898,0.000000,0.152542,0.0,0.288136,0.0,0.084746,0.000000,0.169492
584632,879694,0.250000,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
584633,879695,0.250000,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
584634,879696,0.090909,0.090909,0.272727,0.181818,0.090909,0.0,0.000000,0.0,0.181818,0.000000,0.090909
584635,879698,0.000000,0.000000,0.000000,0.000000,0.333333,0.0,0.333333,0.0,0.000000,0.000000,0.333333

In [ ]:
endloan_re_by_date

In [ ]:
endloan_by_user

        user_id  is_desperate  desperate_score
0        125129      0.142857                1
1        385811      1.000000                2
2        720911      0.000000                0
3        706858      1.000000                2
4        512341      0.275862                1
...         ...           ...              ...
584631   607863      0.000000                0
584632   281637      0.000000                0
584633   264343      0.000000                0
584634   740289      0.000000                0
584635   746631      0.000000                0

[584636 rows x 3 columns]

In [ ]:
# user_event_based_grouped.drop(columns=['check'], inplace=True)
user_event_based_grouped

        user_id  only_open  only_start  ended     extra
0             1      0.000       0.000    0.0  1.000000
1             7      0.000       0.000    0.0  1.000000
2             9      0.000       0.000    0.0  1.000000
3            11      0.000       0.000    1.0  0.500000
4            12      0.000       0.000    1.0  0.285714
...         ...        ...         ...    ...       ...
584631   879693      0.375       0.125    0.5  0.500000
584632   879694      0.000       0.000    1.0  0.000000
584633   879695      0.000       0.000    1.0  0.000000
584634   879696      0.000       0.000    1.0  1.000000
584635   879698      0.000       1.000    0.0  0.000000

[584636 rows x 5 columns]

In [ ]:
log_version1 = pd.merge(app_update_activeness, endloan_by_user, on="user_id")
log_version1 = pd.merge(log_version1, event_count_percent, on="user_id")
final = pd.merge(user_event_based_grouped, log_version1, on = "user_id", how="left")
final

,user_id,only_open,only_start,ended,extra,update_activeness,is_desperate,desperate_score,CompleteIDCertification,EndLoanApply,GetCreditInfo,Login,OpenApp,SignUp,StartLoanApply,UseDSRCalc,UseLoanManage,UsePrepayCalc,ViewLoanApplyIntro
0,1,0.000,0.000,0.0,1.000000,0,0.000000,0,0.000000,0.000000,0.600000,0.200000,0.000000,0.0,0.000000,0.0,0.200000,0.000000,0.000000
1,7,0.000,0.000,0.0,1.000000,0,0.000000,0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
2,9,0.000,0.000,0.0,1.000000,0,0.000000,0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
3,11,0.000,0.000,1.0,0.500000,1,0.250000,1,0.102564,0.153846,0.205128,0.000000,0.128205,0.0,0.102564,0.0,0.153846,0.025641,0.128205
4,12,0.000,0.000,1.0,0.285714,1,0.714286,2,0.141509,0.235849,0.047170,0.141509,0.141509,0.0,0.141509,0.0,0.009434,0.000000,0.141509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584631,879693,0.375,0.125,0.5,0.500000,1,0.000000,0,0.101695,0.169492,0.033898,0.000000,0.152542,0.0,0.288136,0.0,0.084746,0.000000,0.169492
584632,879694,0.000,0.000,1.0,0.000000,1,0.000000,0,0.250000,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
584633,879695,0.000,0.000,1.0,0.000000,1,0.000000,0,0.250000,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
584634,879696,0.000,0.000,1.0,1.000000,1,1.000000,2,0.090909,0.090909,0.272727,0.181818,0.090909,0.0,0.000000,0.0,0.181818,0.000000,0.090909
584635,879698,0.000,1.000,0.0,0.000000,1,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.333333,0.0,0.333333,0.0,0.000000,0.000000,0.333333

In [ ]:
final.drop(columns=['is_desperate'], axis=1, inplace=True)
final[['only_open','only_start','ended', 'extra', 'update_activeness', 'desperate_score']] = final[['only_open','only_start','ended', 'extra', 'update_activeness', 'desperate_score']].astype('int8')
final

,user_id,only_open,only_start,ended,extra,update_activeness,desperate_score,CompleteIDCertification,EndLoanApply,GetCreditInfo,Login,OpenApp,SignUp,StartLoanApply,UseDSRCalc,UseLoanManage,UsePrepayCalc,ViewLoanApplyIntro
0,1,0,0,0,1,0,0,0.000000,0.000000,0.600000,0.200000,0.000000,0.0,0.000000,0.0,0.200000,0.000000,0.000000
1,7,0,0,0,1,0,0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
2,9,0,0,0,1,0,0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
3,11,0,0,1,0,1,1,0.102564,0.153846,0.205128,0.000000,0.128205,0.0,0.102564,0.0,0.153846,0.025641,0.128205
4,12,0,0,1,0,1,2,0.141509,0.235849,0.047170,0.141509,0.141509,0.0,0.141509,0.0,0.009434,0.000000,0.141509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584631,879693,0,0,0,0,1,0,0.101695,0.169492,0.033898,0.000000,0.152542,0.0,0.288136,0.0,0.084746,0.000000,0.169492
584632,879694,0,0,1,0,1,0,0.250000,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
584633,879695,0,0,1,0,1,0,0.250000,0.250000,0.000000,0.000000,0.000000,0.0,0.250000,0.0,0.000000,0.000000,0.250000
584634,879696,0,0,1,1,1,2,0.090909,0.090909,0.272727,0.181818,0.090909,0.0,0.000000,0.0,0.181818,0.000000,0.090909
584635,879698,0,1,0,0,1,0,0.000000,0.000000,0.000000,0.000000,0.333333,0.0,0.333333,0.0,0.000000,0.000000,0.333333

In [ ]:
# final.to_pickle('/content/drive/Shareddrives/빅콘테스트/로그/최종/log_final(until_may)')
final.to_pickle('/content/drive/Shareddrives/빅콘테스트/로그/최종/log_final(until_june)')